<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.BookPatientMapper">

  <sql id="BaseSql">
    b.patient_id as patientId,b.patient_name as patientName,b.patient_sex as sex,b.id_card as idCard,
    a.admin_name as adminName,b.dept_id as deptId,b.registration_dept as deptName,b.book_doc as doctorName,
    b.book_time as createTime,b.see_doc_time as bookDate,b.book_source as bookSource,b.patient_type as patientType,
    b.phone_num as phone,b.book_type as bookType,b.advice_type as adviceType
  </sql>

  <insert id="addBookPatient">
     insert into leanin_book_patient
     <trim prefix="(" suffix=")" suffixOverrides=",">
       <if test="patientId != null">
       patient_id,
       </if>
       <if test="patientName != null">
         patient_name,
       </if>
       <if test="idCard != null">
         id_card,
       </if>
       <if test="sex != null">
         patient_sex,
       </if>
       <if test="phone != null">
         phone_num,
       </if>
       <if test="patientType != null">
         patient_type,
       </if>
       <if test="adminId != null">
         registration_doc_id,
       </if>
       <if test="deptId != null">
         dept_id,
       </if>
       <if test="deptName != null">
         registration_dept,
       </if>
       <if test="bookDate != null">
         book_time,
       </if>
       <if test="seeDocDate != null">
         see_doc_time,
       </if>
       <if test="bookResource != null">
         book_source,
       </if>
       <if test="doctorName != null">
         book_doc,
       </if>
       <if test="adviceType != null">
         advice_type,
       </if>
       <if test="bookMoney!=null">
         book_money,
       </if>
       <if test="medicalCard!=null">
         medical_card,
       </if>
       <if test="bookType!=null">
         book_type,
       </if>
     </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        #{patientId},
      </if>
      <if test="patientName != null">
        #{patientName},
      </if>
      <if test="idCard != null">
        #{idCard},
      </if>
      <if test="sex != null">
        #{sex},
      </if>
      <if test="phone != null">
        #{phone},
      </if>
      <if test="patientType != null">
        #{patientType},
      </if>
      <if test="adminId != null">
        #{adminId},
      </if>
      <if test="deptId != null">
        #{deptId},
      </if>
      <if test="deptName != null">
        #{deptName},
      </if>
      <if test="bookDate != null">
        #{bookDate},
      </if>
      <if test="seeDocDate != null">
        #{seeDocDate},
      </if>
      <if test="bookResource != null">
        #{bookResource},
      </if>
      <if test="doctorName != null">
        #{doctorName},
      </if>
      <if test="adviceType != null">
        #{adviceType},
      </if>
      <if test="bookMoney!=null">
        #{bookMoney},
      </if>
      <if test="medicalCard!=null">
        #{medicalCard},
      </if>
      <if test="bookType!=null">
        #{bookType},
      </if>
    </trim>
  </insert>
  <update id="updateBookStatus">
    update leanin_book_patient set book_status=-1
    where patient_id=#{patientId} and book_doc=#{doctorName}
    and see_doc_time=#{bookDate}
  </update>

  <select id="findBookPatientList" resultType="java.util.Map">
    SELECT
    <include refid="BaseSql"/>
    from leanin_book_patient b
    left join leanin_admin_user a
    on b.registration_doc_id=a.admin_id
    where b.book_status=0
    <if test="patientName!=null">
      and b.patient_name like CONCAT('%',#{patientName},'%')
    </if>
    <if test="deptId!=null">
      and b.dept_id=#{deptId}
    </if>
    <if test="startDate!=null">
      and b.see_doc_time<![CDATA[>=]]>#{startDate}
    </if>
    <if test="endDate!=null">
      and b.see_doc_time<![CDATA[<=]]>#{endDate}
    </if>
    <if test="patientId!=null">
      and b.patient_id=#{patientId}
    </if>
  </select>
  <select id="findBookPatient" resultType="java.util.Map">
    SELECT
    <include refid="BaseSql"/>
    from leanin_book_patient b
    left join leanin_admin_user a
    on b.registration_doc_id=a.admin_id
    where b.book_status=0
    <if test="bookDate!=null">
      and b.see_doc_time=#{bookDate}
    </if>
    <if test="bookType!=null">
      and b.book_type=#{bookType}
    </if>
    <if test="doctorName!=null">
      and b.book_doc=#{doctorName}
    </if>
    <if test="patientId!=null">
      and b.patient_id=#{patientId}
    </if>
  </select>

  <select id="findcountOrder" resultType="java.lang.Integer">
    select count(b.book_id) from leanin_book_patient b
    where b.book_status=0 and b.patient_id=#{patientId} and b.see_doc_time=#{bookDate}
  </select>


    <select id="exportBookExcel" resultType="com.leanin.domain.excel.BookPatientExcel">
        SELECT
          patient_name as patientName,
          CASE
            patient_sex
            WHEN 1
            THEN '男'
            WHEN 2
            THEN '女'
            ELSE '其他'
          END AS sex,
          id_card as idCard,
          phone_num as phoneNum,
          book_doc as bookDoc,
          registration_dept as bookDept,
          see_doc_time as seeDocTime,
          book_time as bookTime,
          CASE
            book_source
            WHEN 1
            THEN 'pc'
            WHEN 2
            THEN '公众号'
            ELSE '其他'
          END AS bookSource
        FROM
          `leanin_book_patient`
        WHERE book_status = 0
        <if test="patientName != null">
          and patient_name like CONCAT('%',#{patientName},'%')
        </if>
        <if test="deptId != null">
          and dept_id =#{deptId}
        </if>
        <if test="startDate!=null">
          and see_doc_time<![CDATA[>=]]>#{startDate}
        </if>
        <if test="endDate!=null">
          and see_doc_time<![CDATA[<=]]>#{endDate}
        </if>
    </select>
  <select id="exportSeeDocExcel" resultType="com.leanin.domain.excel.SeeDocExcle">
      SELECT
        lbp.patient_name as patientName,
      CASE
        lbp.patient_sex
      WHEN 1
      THEN '男'
      WHEN 2
      THEN '女'
      ELSE '其他'
      END AS sex,
        lbp.id_card as idCard,
        lbp.phone_num as phoneNum,
        lbp.book_doc as bookDoc,
        lbp.registration_dept as dept,
        lbp.book_time as bookTime,
        lau.admin_name as registrationDoc,
        lbp.phone_num as phoneNum,
      CASE
      lbp.advice_type
      WHEN '0'
      THEN '未就诊'
      WHEN '1'
      THEN '已就诊'
      ELSE '其他'
      END AS status
      FROM
      `leanin_book_patient` lbp,`leanin_admin_user` lau
      WHERE lbp.book_status = 0
      and lbp.registration_doc_id = lau.admin_id
      <if test="patientName != null">
        and lbp.patient_name like CONCAT('%',#{patientName},'%')
      </if>
      <if test="deptId != null">
        and lbp.dept_id =#{deptId}
      </if>
      <if test="startDate!=null">
        and lbp.see_doc_time<![CDATA[>=]]>#{startDate}
      </if>
      <if test="endDate!=null">
        and lbp.see_doc_time<![CDATA[<=]]>#{endDate}
      </if>
  </select>
</mapper>