<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.CallBackConfigMapper">
  <resultMap id="BaseResultMap" type="com.leanin.domain.CallBackConfig">
    <id column="config_num"  property="configNum" />
    <result column="config_status"  property="configStatus" />
    <result column="config_type"  property="configType" />
    <result column="ward_code"  property="wardCode" />
    <result column="deal_with_name"  property="dealWithName" />
    <result column="dela_with_phone"  property="delaWithPhone" />
    <result column="config_creater"  property="configCreater" />
    <result column="config_time"  property="configTime" />
    <result column="config_state"  property="configState" />
    <result column="area_code"  property="areaCode" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="NameResultMap" type="com.leanin.domain.CallBackConfig">
    <association property="dealName" column="deal_with_name" javaType="string"
                 select="com.leanin.mapper.UserMapper.findUserName">
    </association>
    <association property="createName" column="config_creater" javaType="string"
                 select="com.leanin.mapper.UserMapper.findUserName">
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    config_num, config_status, config_type, ward_code, deal_with_name, dela_with_phone, 
    config_creater, config_time, config_state, area_code
  </sql>
  <select id="findConfigById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_call_back_config where config_state>=0
    and config_num = #{configNum}
  </select>
  <select id="findConfigList" resultMap="NameResultMap">
  	select 
    <include refid="Base_Column_List" />
    from leanin_call_back_config
    where config_state >= 0
    <if test="configType !=null">
    	and config_type=#{configType}
    </if>
  </select>

  <select id="findDealNameByType" resultMap="NameResultMap">
    select
    <include refid="Base_Column_List" />
    from leanin_call_back_config
    where config_state >= 0
    and config_type=#{type}
    and config_status = #{status}
  </select>

  <update id="updateConfigStatus">
    update leanin_call_back_config set config_state=#{status}
    where config_num = #{configNum}
  </update>
  <insert id="addConfig" parameterType="com.leanin.domain.CallBackConfig">
    insert into leanin_call_back_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="configNum != null">
        config_num,
      </if>
      <if test="configStatus != null">
        config_status,
      </if>
      <if test="configType != null">
        config_type,
      </if>
      <if test="wardCode != null">
        ward_code,
      </if>
      <if test="dealWithName != null">
        deal_with_name,
      </if>
      <if test="delaWithPhone != null">
        dela_with_phone,
      </if>
      <if test="configCreater != null">
        config_creater,
      </if>
      <if test="configTime != null">
        config_time,
      </if>
      <if test="configState != null">
        config_state,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="configNum != null">
        #{configNum},
      </if>
      <if test="configStatus != null">
        #{configStatus},
      </if>
      <if test="configType != null">
        #{configType},
      </if>
      <if test="wardCode != null">
        #{wardCode},
      </if>
      <if test="dealWithName != null">
        #{dealWithName},
      </if>
      <if test="delaWithPhone != null">
        #{delaWithPhone},
      </if>
      <if test="configCreater != null">
        #{configCreater},
      </if>
      <if test="configTime != null">
        #{configTime},
      </if>
      <if test="configState != null">
        #{configState},
      </if>
      <if test="areaCode != null">
        #{areaCode},
      </if>
    </trim>
  </insert>
  <update id="updateConfig" parameterType="com.leanin.domain.CallBackConfig">
    update leanin_call_back_config
    <set>
      <if test="configStatus != null">
        config_status = #{configStatus},
      </if>
      <if test="configType != null">
        config_type = #{configType},
      </if>
      <if test="wardCode != null">
        ward_code = #{wardCode},
      </if>
      <if test="dealWithName != null">
        deal_with_name = #{dealWithName},
      </if>
      <if test="delaWithPhone != null">
        dela_with_phone = #{delaWithPhone},
      </if>
      <if test="configCreater != null">
        config_creater = #{configCreater},
      </if>
      <if test="configTime != null">
        config_time = #{configTime},
      </if>
      <if test="configState != null">
        config_state = #{configState},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode},
      </if>
    </set>
    where config_num = #{configNum}
  </update>
</mapper>