<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.CheckPatientMapper">
    <resultMap id="BaseResultMap" type="com.leanin.domain.vo.CheckPatientVo">
        <id column="check_patient_id"  property="checkPatientId"/>
        <result column="check_num"  property="checkNum"/>
        <result column="patient_id"  property="patientId"/>
        <result column="form_id"  property="formId"/>
        <result column="opend_id"  property="opendId"/>
        <result column="id_card"  property="idCard"/>
        <result column="inhos_no"  property="inhosNo"/>
        <result column="patient_name"  property="patientName"/>
        <result column="patient_sex"  property="patientSex"/>
        <result column="patient_age"  property="patientAge"/>
        <result column="patient_phone"  property="patientPhone"/>
        <result column="patient_ward" property="patientWard"/>
        <result column="patient_status" property="patientStatus"/>
        <result column="patient_condition" property="patientCondition"/>
        <result column="patient_diagous" property="patientDiagous"/>
        <result column="patient_source" property="patientSource"/>
        <result column="area_code" property="areaCode"/>
        <result column="handle_sugges" property="handleSugges"/>
        <result column="finish_status" property="finishStatus"/>
        <result column="ex2" property="ex2"/>
        <result column="ex3" property="ex3"/>
        <result column="ex4" property="ex4"/>
        <result column="ex5" property="ex5"/>
    </resultMap>
    <sql id="Base_Column_List">
      check_patient_id,check_num,patient_id,form_id,opend_id,id_card,inhos_no,
      patient_name,patient_sex,patient_age,patient_phone,patient_ward,patient_status,
      patient_condition,patient_diagous,patient_source,area_code,handle_sugges,
      finish_status,ex2,ex3,ex4,ex5
    </sql>

    <insert id="add">
        insert into leanin_check_patient
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planNum != null">
                check_num,
            </if>
            <if test="patientId != null">
                patient_id,
            </if>
            <if test="formId != null">
                form_id,
            </if>
            <if test="opendId != null">
                opend_id,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="inhosNo != null">
                inhos_no,
            </if>
            <if test="patientName != null">
                patient_name,
            </if>
            <if test="patientSex != null">
                patient_sex,
            </if>
            <if test="patientAge != null">
                patient_age,
            </if>
            <if test="patientPhone != null">
                patient_phone,
            </if>
            <if test="patientWard != null">
                patient_ward,
            </if>
            <if test="patientStatus != null">
                patient_status,
            </if>
            <if test="patientCondition != null">
                patient_condition,
            </if>
            <if test="patientDiagous != null">
                patient_diagous,
            </if>
            <if test="patientSource != null">
                patient_source,
            </if>
            <if test="areaCode != null">
                area_code,
            </if>
            <if test="handleSugges != null">
                handle_sugges,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planNum != null">
                #{planNum},
            </if>
            <if test="patientId != null">
                #{patientId},
            </if>
            <if test="formId != null">
                #{formId},
            </if>
            <if test="opendId != null">
                #{opendId},
            </if>
            <if test="idCard != null">
                #{idCard},
            </if>
            <if test="inhosNo != null">
                #{inhosNo},
            </if>
            <if test="patientName != null">
                #{patientName},
            </if>
            <if test="patientSex != null">
                #{patientSex},
            </if>
            <if test="patientAge != null">
                #{patientAge},
            </if>
            <if test="patientPhone != null">
                #{patientPhone},
            </if>
            <if test="patientWard != null">
                #{patientWard},
            </if>
            <if test="patientStatus != null">
                #{patientStatus},
            </if>
            <if test="patientCondition != null">
                #{patientCondition},
            </if>
            <if test="patientDiagous != null">
                #{patientDiagous},
            </if>
            <if test="patientSource != null">
                #{patientSource},
            </if>
            <if test="areaCode != null">
                #{areaCode},
            </if>
            <if test="handleSugges != null">
                #{handleSugges},
            </if>
        </trim>
    </insert>

    <!---->
    <update id="updateById">
        update leanin_check_patient
        set patient_status = 2
        where check_patient_id = #{id}
    </update>

    <select id="findList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from leanin_check_patient
        where patient_status = 1
        <if test="patientName != null">
            and patient_name like CONCAT('%',#{patientName},'%')
        </if>
        <if test="finishStatus != null">
            and finish_status = #{finishStatus}
        </if>
    </select>

    <select id="findCount" resultType="java.lang.Integer">
        select count(check_patient_id)
        from leanin_check_patient
        where finish_status = #{finishStatus}
        and patient_status = 1
        and check_num =#{checkNum}
    </select>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from leanin_check_patient
        where check_patient_id = #{checkPatientId}
    </select>
    <select id="findUnfinishCount" resultType="java.lang.Integer">
        select count(check_patient_id)
        from leanin_check_patient
        where patient_status = 1
        and finish_status = 1
        and check_num =#{checkNum}
    </select>


</mapper>