<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.FocusPatientMapper">
  <resultMap id="BaseResultMap" type="com.leanin.domain.vo.FocusPatientVo">
    <id column="focus_id"  property="focusId" />
    <result column="patient_id"  property="patientId" />
    <result column="patient_name"  property="patientName" />
    <result column="patient_sex"  property="patientSex" />
    <result column="patient_birthday"  property="patientBirthday" />
    <result column="patient_phone"  property="patientPhone" />
    <result column="patient_id_card"  property="patientIdCard" />
    <result column="focus_status"  property="focusStatus" />
    <result column="patient_source"  property="patientSource" />
    <result column="user_id"  property="userId" />
    <result column="inhos_no" property="inhosNo" />
    <result column="open_id" property="openId" />
    <result column="patient_ward" property="patientWard" />
    <result column="area_code" property="areaCode" />
  </resultMap>
  <sql id="Base_Column_List">
    focus_id, patient_id, patient_name, patient_sex, patient_birthday, patient_phone, 
    patient_id_card, focus_status, patient_source,user_id,inhos_no,open_id,patient_ward,area_code
  </sql>
  <select id="findPatientList" parameterType="java.lang.String" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from leanin_focus_patient
    where focus_status > 0
    and user_id = #{userId}
    <if test="patientName != null">
       and patient_name like CONCAT('%',#{patientName},'%')
    </if>
  </select>
  <select id="selectFocusPatientById" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_focus_patient where focus_status > 0
    and patient_id = #{patientId}
    and user_id = #{userId}
  </select>

    <select id="findPatientByFocusId" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from leanin_focus_patient
      where focus_id =#{focusId} and focus_status > 0
    </select>

    <select id="exportExcel" resultType="com.leanin.domain.excel.FocusPatientExcel">
        SELECT
          patient_name as patientName,
          patient_ward as dept,
          inhos_no as inHosNo,
         CASE
            patient_sex
            WHEN 1 THEN '男'
            WHEN 2 THEN '女'
            ELSE '其他'
          END AS sex,
          patient_birthday as birthday,
          patient_phone as phoneNum,
          patient_id_card as idCard,
         CASE
            patient_source
            WHEN 1 THEN '出院'
            WHEN 2 THEN '门诊'
            WHEN 3 THEN '在院'
            WHEN 4 THEN '体检'
            WHEN 5 THEN '建档'
            WHEN 6 THEN '签约'
            WHEN 7 THEN '转入'
            WHEN 8 THEN '转出'
            WHEN 9 THEN '患者管理'
            ELSE '其他' END AS patientSource
        FROM
          `leanin_focus_patient`
        WHERE focus_status = 1
        <if test="patientName != null">
            AND patient_name LIKE CONCAT('%',#{patientName},'%')
        </if>
    </select>

    <update id="updatePatientStatus" >
    update leanin_focus_patient set focus_status=#{status}
    where focus_id = #{focusId}
  </update>
  <insert id="insertFocusPatient" parameterType="com.leanin.domain.vo.FocusPatientVo">
    insert into leanin_focus_patient
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="patientSex != null">
        patient_sex,
      </if>
      <if test="patientBirthday != null">
        patient_birthday,
      </if>
      <if test="patientPhone != null">
        patient_phone,
      </if>
      <if test="patientIdCard != null">
        patient_id_card,
      </if>
      <if test="focusStatus != null">
        focus_status,
      </if>
      <if test="patientSource != null">
        patient_source,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="inhosNo != null">
        inhos_no,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="patientWard != null">
        patient_ward,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        #{patientId},
      </if>
      <if test="patientName != null">
        #{patientName},
      </if>
      <if test="patientSex != null">
        #{patientSex},
      </if>
      <if test="patientBirthday != null">
        #{patientBirthday},
      </if>
      <if test="patientPhone != null">
        #{patientPhone},
      </if>
      <if test="patientIdCard != null">
        #{patientIdCard},
      </if>
      <if test="focusStatus != null">
        #{focusStatus},
      </if>
      <if test="patientSource != null">
        #{patientSource},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="inhosNo != null">
        #{inhosNo},
      </if>
      <if test="openId != null">
        #{openId},
      </if>
      <if test="patientWard != null">
        #{patientWard},
      </if>
      <if test="areaCode != null">
        #{areaCode},
      </if>
    </trim>
  </insert>
</mapper>