<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.FollowCheckMapper">
  <resultMap id="BaseResultMap" type="com.leanin.domain.vo.FollowCheckVo">
    <id column="check_num"  property="checkNum" />
    <result column="check_name"  property="checkName" />
    <result column="ward_code"  property="wardCode" />
    <result column="check_person"  property="checkPerson" />
    <result column="check_patient_type"  property="checkPatientType" />
    <result column="check_patient_ward"  property="checkPatientWard" />
    <result column="follow_begin_date"  property="followBeginDate" />
    <result column="follow_end_date"  property="followEndDate" />
    <result column="check_ratio"  property="checkRatio" />
    <result column="plan_id"  property="planNum" />
    <result column="area_code"  property="areaCode" />
    <result column="check_status"  property="checkStatus" />
    <result column="check_craeter"  property="creater" />
    <result column="create_date" property="createDate" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="unfinishResultMap" type="com.leanin.domain.vo.FollowCheckVo" >
    <association property="unfinishCount" column="check_num" javaType="int"
                 select="com.leanin.mapper.CheckPatientMapper.findUnfinishCount"></association>
    <association property="checkPersonName" column="check_person" javaType="string"
                 select="com.leanin.mapper.UserMapper.findUserName">
    </association>
    <association property="createrName" column="check_craeter" javaType="string"
                 select="com.leanin.mapper.UserMapper.findUserName">
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    check_num, check_name, ward_code, check_person, check_patient_type, check_patient_ward,
    follow_begin_date, follow_end_date, check_ratio, plan_id, area_code, check_status, check_craeter,
    create_date
  </sql>

  <select id="findCheckList" resultMap="unfinishResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from leanin_follow_check where check_status>=0
  	<if test="checkName !=null">
  		and check_name like CONCAT('%',#{checkName},'%')
  	</if>
  </select>


  <select id="findCheckById" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_follow_check where check_status>=0
    and check_num = #{checkNum,jdbcType=VARCHAR}
  </select>
  <select id="findCheckByName"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_follow_check where check_status>=0
    and check_name = #{checkName,jdbcType=VARCHAR}
  </select>

  <update id="updateCheckStatus">
    update leanin_follow_check set check_status=#{status}
    where check_num = #{checkNum,jdbcType=VARCHAR}
  </update>

  <insert id="addCheckInfo" parameterType="com.leanin.domain.vo.FollowCheckVo">
    insert into leanin_follow_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkNum != null">
        check_num,
      </if>
      <if test="checkName != null">
        check_name,
      </if>
      <if test="wardCode != null">
        ward_code,
      </if>
      <if test="checkPerson != null">
        check_person,
      </if>
      <if test="checkPatientType != null">
        check_patient_type,
      </if>
      <if test="checkPatientWard != null">
        check_patient_ward,
      </if>
      <if test="followBeginDate != null">
        follow_begin_date,
      </if>
      <if test="followEndDate != null">
        follow_end_date,
      </if>
      <if test="checkRatio != null">
        check_ratio,
      </if>
      <if test="planNum != null">
        plan_id,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="checkStatus !=null">
      	check_status,
      </if>
      <if test="creater != null">
        check_craeter,
      </if>
      <if test="createDate !=null">
      	create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkNum != null">
        #{checkNum},
      </if>
      <if test="checkName != null">
        #{checkName},
      </if>
      <if test="wardCode != null">
        #{wardCode},
      </if>
      <if test="checkPerson != null">
        #{checkPerson},
      </if>
      <if test="checkPatientType != null">
        #{checkPatientType},
      </if>
      <if test="checkPatientWard != null">
        #{checkPatientWard},
      </if>
      <if test="followBeginDate != null">
        #{followBeginDate},
      </if>
      <if test="followEndDate != null">
        #{followEndDate},
      </if>
      <if test="checkRatio != null">
        #{checkRatio},
      </if>
      <if test="planNum != null">
        #{planNum},
      </if>
      <if test="areaCode != null">
        #{areaCode},
      </if>
      <if test="checkStatus !=null">
      	#{checkStatus},
      </if>
      <if test="creater != null">
        #{creater},
      </if>
      <if test="createDate !=null">
      	#{createDate},
      </if>
    </trim>
  </insert>
  <update id="updateCheckInfo" parameterType="com.leanin.domain.vo.FollowCheckVo">
    update leanin_follow_check
    <set>
      <if test="checkName != null">
        check_name = #{checkName},
      </if>
      <if test="wardCode != null">
        ward_code = #{wardCode},
      </if>
      <if test="checkPerson != null">
        check_person = #{checkPerson},
      </if>
      <if test="checkPatientType != null">
        check_patient_type = #{checkPatientType},
      </if>
      <if test="checkPatientWard != null">
        check_patient_ward = #{checkPatientWard},
      </if>
      <if test="followBeginDate != null">
        follow_begin_date = #{followBeginDate},
      </if>
      <if test="followEndDate != null">
        follow_end_date = #{followEndDate},
      </if>
      <if test="checkRatio != null">
        check_ratio = #{checkRatio},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus},
      </if>
    </set>
    where check_num = #{checkNum}
  </update>
</mapper>