<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.MessageTopicMapper">
  <resultMap id="BaseResultMap" type="com.leanin.domain.vo.MessageTopicVo">
    <id column="msg_topic_id" jdbcType="VARCHAR" property="msgTopicId" />
    <result column="msg_topic_title" jdbcType="VARCHAR" property="msgTopicTitle" />
    <result column="patient_type" jdbcType="INTEGER" property="patientType" />
    <result column="disease_name" jdbcType="VARCHAR" property="diseaseName" />
    <result column="msg_topic_head" jdbcType="VARCHAR" property="msgTopicHead" />
    <result column="msg_text" jdbcType="LONGVARCHAR" property="msgText" />
    <result column="msg_send_date" jdbcType="TIMESTAMP" property="msgSendDate" />
    <result column="msg_send_status" jdbcType="INTEGER" property="msgSendStatus" />
    <result column="msg_topic_creater" jdbcType="VARCHAR" property="msgTopicCreater" />
    <result column="msg_topic_create_ward" jdbcType="VARCHAR" property="msgTopicCreateWard" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
  </resultMap>
  <sql id="Base_Column_List">
    msg_topic_id,msg_topic_title,patient_type, patient_type,disease_name, msg_topic_head, msg_text, 
    msg_send_date, msg_send_status, msg_topic_creater, msg_topic_create_ward, 
    area_code
  </sql>
  <select id="findMsgTopicList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_msg_topic where msg_send_status>=0
    <if test="msgTopicName != null">
        and msg_topic_title like CONCAT('%',#{msgTopicName,jdbcType=VARCHAR},'%')
    </if>
  </select>
  <select id="findMsgTopicById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_msg_topic where msg_send_status>=0
    and msg_topic_id = #{msgTopicId,jdbcType=VARCHAR}
  </select>
  <select id="findMsgTopicByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_msg_topic where msg_send_status>=0
    and msg_topic_title = #{msgTopicName,jdbcType=VARCHAR}
  </select>
  <update id="updateTopicStatus">
    update leanin_msg_topic set msg_send_status=#{status}
    where msg_topic_id = #{msgTopicId,jdbcType=VARCHAR}
  </update>
  <insert id="addMsgTopic" parameterType="com.leanin.domain.vo.MessageTopicVo">
    insert into leanin_msg_topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msgTopicId != null">
        msg_topic_id,
      </if>
      <if test="msgTopicTitle != null">
        msg_topic_title,
      </if>
      <if test="patientType != null">
        patient_type,
      </if>
      <if test="diseaseName != null">
        disease_name,
      </if>
      <if test="msgTopicHead != null">
        msg_topic_head,
      </if>
      <if test="msgText != null">
        msg_text,
      </if>
      <if test="msgSendDate != null">
        msg_send_date,
      </if>
      <if test="msgSendStatus != null">
        msg_send_status,
      </if>
      <if test="msgTopicCreater != null">
        msg_topic_creater,
      </if>
      <if test="msgTopicCreateWard != null">
        msg_topic_create_ward,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="msgTopicId != null">
        #{msgTopicId,jdbcType=VARCHAR},
      </if>
      <if test="msgTopicTitle != null">
        #{msgTopicTitle,jdbcType=VARCHAR},
      </if>
      <if test="patientType != null">
        #{patientType,jdbcType=INTEGER},
      </if>
      <if test="diseaseName != null">
        #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="msgTopicHead != null">
        #{msgTopicHead,jdbcType=VARCHAR},
      </if>
      <if test="msgText != null">
        #{msgText,jdbcType=VARCHAR},
      </if>
      <if test="msgSendDate != null">
        #{msgSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="msgSendStatus != null">
        #{msgSendStatus,jdbcType=INTEGER},
      </if>
      <if test="msgTopicCreater != null">
        #{msgTopicCreater,jdbcType=VARCHAR},
      </if>
      <if test="msgTopicCreateWard != null">
        #{msgTopicCreateWard,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateMsgTopic" parameterType="com.leanin.domain.vo.MessageTopicVo">
    update leanin_msg_topic
    <set>
      <if test="msgTopicTitle != null">
        msg_topic_title = #{msgTopicTitle,jdbcType=VARCHAR},
      </if>
      <if test="patientType != null">
        patient_type = #{patientType,jdbcType=INTEGER},
      </if>
      <if test="diseaseName != null">
        disease_name = #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="msgTopicHead != null">
        msg_topic_head = #{msgTopicHead,jdbcType=VARCHAR},
      </if>
      <if test="msgText != null">
        msg_text = #{msgText,jdbcType=VARCHAR},
      </if>
      <if test="msgSendDate != null">
        msg_send_date = #{msgSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="msgSendStatus != null">
        msg_send_status = #{msgSendStatus,jdbcType=INTEGER},
      </if>
      <if test="msgTopicCreater != null">
        msg_topic_creater = #{msgTopicCreater,jdbcType=VARCHAR},
      </if>
      <if test="msgTopicCreateWard != null">
        msg_topic_create_ward = #{msgTopicCreateWard,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
    </set>
    where msg_topic_id = #{msgTopicId,jdbcType=VARCHAR}
  </update>
</mapper>