<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.MessagePatientMapper">
  <resultMap id="BaseResultMap" type="com.leanin.domain.vo.MessagePatientVo">
    <id column="patient_msg_id"  property="patientMsgId" />
    <result column="msg_topic_id"  property="msgTopicId" />
    <result column="patient_id"  property="patientId" />
    <result column="patient_name"  property="patientName" />
    <result column="patient_sex"  property="patientSex" />
    <result column="patient_age"  property="patientAge" />
    <result column="patient_phone"  property="patientPhone" />
    <result column="patient_id_card"  property="patientIdCard" />
    <result column="patient_type"  property="patientType" />
    <result column="area_code"  property="areaCode" />
    <result column="send_type"  property="sendType" />
    <result column="id_card"  property="idCard" />
    <result column="inhos_no"  property="inhosNo" />
    <result column="open_id" property="openId" />
    <result column="patient_status" property="patientStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    patient_msg_id, msg_topic_id, patient_id, patient_name, patient_sex, patient_age, 
    patient_phone, patient_id_card, patient_type, area_code,send_type,id_card,inhos_no,open_id,
    patient_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_msg_patient
    where patient_msg_id = #{patientMsgId,jdbcType=BIGINT}
  </select>

  <select id="findById" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM leanin_msg_patient
    WHERE patient_msg_id =#{patientMsgId}
  </select>

  <!--条件查询-->
  <select id="findList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM leanin_msg_patient
    WHERE 1 = 1
    <if test="patientName != null ">
      and patient_name LIKE CONCAT('%',#{patientName},'%')
    </if>
    <if test="sendType != null ">
      and send_type = #{sendType}
    </if>
    <if test="msgTopicId != null ">
      and msg_topic_id = #{msgTopicId}
    </if>
  </select>


  <select id="bindPatient" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from leanin_msg_patient
    where patient_name = #{patientName}
    and patient_phone = #{phoneNum}
    and id_card = #{idCard}
  </select>
    <select id="findByPIdAndPnum" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from leanin_msg_patient
      where msg_topic_id = #{planNum}
      and patient_id = #{patientId}
    </select>

  <select id="findCountByMsgTopicId" resultType="java.lang.Integer">
    SELECT COUNT(1)
    FROM `leanin_msg_patient`
    WHERE send_type = 1
    AND msg_topic_id = #{msgTopicId}
  </select>

    <select id="findByMsgTopicId" resultMap="BaseResultMap">
      SELECT
      <include refid="Base_Column_List"/>
      FROM leanin_msg_patient
      WHERE 1 = 1
      <if test="msgTopicId != null ">
        and msg_topic_id = #{msgTopicId}
      </if>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from leanin_msg_patient
    where patient_msg_id = #{patientMsgId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.leanin.domain.vo.MessagePatientVo">
    insert into leanin_msg_patient (patient_msg_id, msg_topic_id, patient_id, 
      patient_name, patient_sex, patient_age, 
      patient_phone, patient_id_card, patient_type, 
      area_code,send_type)
    values (#{patientMsgId,jdbcType=BIGINT}, #{msgTopicId,jdbcType=VARCHAR}, #{patientId,jdbcType=BIGINT}, 
      #{patientName,jdbcType=VARCHAR}, #{patientSex,jdbcType=INTEGER}, #{patientAge,jdbcType=INTEGER}, 
      #{patientPhone,jdbcType=VARCHAR}, #{patientIdCard,jdbcType=VARCHAR}, #{patientType,jdbcType=INTEGER}, 
      #{areaCode,jdbcType=VARCHAR},#{sendType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.leanin.domain.vo.MessagePatientVo">
    insert into leanin_msg_patient
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patientMsgId != null">
        patient_msg_id,
      </if>
      <if test="msgTopicId != null">
        msg_topic_id,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="patientSex != null">
        patient_sex,
      </if>
      <if test="patientAge != null">
        patient_age,
      </if>
      <if test="patientPhone != null">
        patient_phone,
      </if>
      <if test="patientIdCard != null">
        patient_id_card,
      </if>
      <if test="patientType != null">
        patient_type,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="sendType != null">
        send_type,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="inhosNo != null">
        inhos_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patientMsgId != null">
        #{patientMsgId,jdbcType=BIGINT},
      </if>
      <if test="msgTopicId != null">
        #{msgTopicId,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=BIGINT},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null">
        #{patientSex,jdbcType=INTEGER},
      </if>
      <if test="patientAge != null">
        #{patientAge,jdbcType=INTEGER},
      </if>
      <if test="patientPhone != null">
        #{patientPhone,jdbcType=VARCHAR},
      </if>
      <if test="patientIdCard != null">
        #{patientIdCard,jdbcType=VARCHAR},
      </if>
      <if test="patientType != null">
        #{patientType,jdbcType=INTEGER},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="sendType != null">
        #{sendType,jdbcType=INTEGER},
      </if>
      <if test="idCard != null">
        #{idCard},
      </if>
      <if test="inhosNo != null">
        #{inhosNo},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" >
    update leanin_msg_patient
    <set>
      <if test="record.msgTopicId != null">
        msg_topic_id = #{record.msgTopicId},
      </if>
      <if test="record.patientId != null">
        patient_id = #{record.patientId},
      </if>
      <if test="record.patientName != null">
        patient_name = #{record.patientName},
      </if>
      <if test="record.patientSex != null">
        patient_sex = #{record.patientSex},
      </if>
      <if test="record.patientAge != null">
        patient_age = #{record.patientAge},
      </if>
      <if test="record.patientPhone != null">
        patient_phone = #{record.patientPhone},
      </if>
      <if test="record.patientIdCard != null">
        patient_id_card = #{record.patientIdCard},
      </if>
      <if test="record.patientType != null">
        patient_type = #{record.patientType},
      </if>
      <if test="record.areaCode != null">
        area_code = #{record.areaCode},
      </if>
      <if test="record.sendType != null">
        send_type = #{record.sendType},
      </if>
      <if test="record.idCard != null">
        id_card = #{record.idCard},
      </if>
      <if test="record.inhosNo != null">
        inhos_no =#{record.inhosNo},
      </if>
      <if test="record.openId != null">
        open_id =#{record.openId},
      </if>
      <if test="record.patientStatus != null">
        patient_status =#{record.patientStatus},
      </if>
    </set>
    where patient_msg_id = #{record.patientMsgId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leanin.domain.vo.MessagePatientVo">
    update leanin_msg_patient
    set msg_topic_id = #{msgTopicId,jdbcType=VARCHAR},
      patient_id = #{patientId,jdbcType=BIGINT},
      patient_name = #{patientName,jdbcType=VARCHAR},
      patient_sex = #{patientSex,jdbcType=INTEGER},
      patient_age = #{patientAge,jdbcType=INTEGER},
      patient_phone = #{patientPhone,jdbcType=VARCHAR},
      patient_id_card = #{patientIdCard,jdbcType=VARCHAR},
      patient_type = #{patientType,jdbcType=INTEGER},
      area_code = #{areaCode,jdbcType=VARCHAR}
      send_type = #{sendType,jdbcType=INTEGER}
    where patient_msg_id = #{patientMsgId,jdbcType=BIGINT}
  </update>
</mapper>