<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.NoticeInfoMapper">
  <resultMap id="BaseResultMap" type="com.leanin.domain.vo.NoticeInfoVo">
    <id column="notice_id" jdbcType="BIGINT" property="noticeId" />
    <result column="notice_title" jdbcType="VARCHAR" property="noticeTitle" />
    <result column="ward_name" jdbcType="VARCHAR" property="wardName" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="notice_status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.leanin.domain.vo.NoticeInfoVo">
    <result column="notice_text" jdbcType="LONGVARCHAR" property="noticeText" />
  </resultMap>
  <sql id="Base_Column_List">
    notice_id, notice_title, ward_name, area_code, notice_status
  </sql>
  <sql id="Blob_Column_List">
    notice_text
  </sql>
  <select id="findNoticeList" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from leanin_notice_info
    <if test="noticeName != null">
      where notice_title like CONCAT('%',#{noticeName},'%')
    </if>
  </select>
  <select id="findNoticeById" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from leanin_notice_info
    where notice_id = #{noticeId,jdbcType=BIGINT}
  </select>
  <select id="findNoticeByName" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from leanin_notice_info
    where notice_title = #{noticeName,jdbcType=VARCHAR}
  </select>
  <update id="updateNoticeStatus">
    update leanin_notice_info set notice_status=#{status}
    where notice_id = #{noticeId,jdbcType=BIGINT}
  </update>
  <insert id="addNoticeInfo" parameterType="com.leanin.domain.vo.NoticeInfoVo">
    insert into leanin_notice_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noticeId != null">
        notice_id,
      </if>
      <if test="noticeTitle != null">
        notice_title,
      </if>
      <if test="wardName != null">
        ward_name,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="noticeText != null">
        notice_text,
      </if>
      <if test="status != null">
        notice_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noticeId != null">
        #{noticeId,jdbcType=BIGINT},
      </if>
      <if test="noticeTitle != null">
        #{noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="wardName != null">
        #{wardName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="noticeText != null">
        #{noticeText,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateNoticeInfo" parameterType="com.leanin.domain.vo.NoticeInfoVo">
    update leanin_notice_info
    <set>
      <if test="noticeTitle != null">
        notice_title = #{noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="wardName != null">
        ward_name = #{wardName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="noticeText != null">
        notice_text = #{noticeText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where notice_id = #{noticeId,jdbcType=BIGINT}
  </update>
</mapper>