<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.PatientWxMapper">

    <resultMap id="BaseResultMap" type="com.leanin.domain.request.BindPat">
        <id column="id_card" property="idCard"></id>
        <result column="open_id" property="openId"></result>
        <result column="phone_num" property="phoneNum"></result>
        <result column="patient_name" property="patientName"></result>
    </resultMap>

    <sql id="BaseSql">
        id_card,open_id,phone_num,patient_name
    </sql>

    <insert id="addPatientWx">
        insert into leanin_patient_wx
        <trim prefix="( " suffix=" )" suffixOverrides=",">
            <if test="bindPat.idCard != null">
                id_card,
            </if>
            <if test="bindPat.openId != null">
                open_id,
            </if>
            <if test="bindPat.patientName != null">
                patient_name,
            </if>
            <if test="bindPat.phoneNum != null">
                phone_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=" )" suffixOverrides=",">
            <if test="bindPat.idCard != null">
                #{bindPat.idCard},
            </if>
            <if test="bindPat.openId != null">
                #{bindPat.openId},
            </if>
            <if test="bindPat.patientName != null">
                #{bindPat.patientName},
            </if>
            <if test="bindPat.phoneNum != null">
                #{bindPat.phoneNum},
            </if>
        </trim>
    </insert>

    <select id="findByIdCard" resultMap="BaseResultMap">
        select
        <include refid="BaseSql"/>
        from leanin_patient_wx
        where id_card = #{idCard}
    </select>
</mapper>