<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.PlanInfoMapper">
  <resultMap id="BaseResultMap" type="com.leanin.domain.vo.PlanInfoVo">
    <id column="plan_num" jdbcType="VARCHAR" property="planNum" />
    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
    <result column="patient_info_source" jdbcType="INTEGER" property="patientInfoSource" />
    <result column="plan_begin_time" jdbcType="DATE" property="planBeginTime" />
    <result column="plan_end_time" jdbcType="DATE" property="planEndTime" />
    <result column="plan_ward_code" jdbcType="VARCHAR" property="planWardCode" />
    <result column="plan_duty_per" jdbcType="VARCHAR" property="planDutyPer" />
    <result column="plan_target" jdbcType="VARCHAR" property="planTarget" />
    <result column="plan_send_type" jdbcType="INTEGER" property="planSendType" />
    <result column="form_type_id" jdbcType="BIGINT" property="formTypeId" />
    <result column="follow_form_num" jdbcType="VARCHAR" property="followFormNum" />
    <result column="rules_info_num" jdbcType="VARCHAR" property="rulesInfoNum" />
    <result column="plan_sex" jdbcType="INTEGER" property="planSex" />
    <result column="plan_age_interval" jdbcType="VARCHAR" property="planAgeInterval" />
    <result column="plan_exis_phone" jdbcType="INTEGER" property="planExisPhone" />
    <result column="plan_type" jdbcType="INTEGER" property="planType" />
    <result column="plan_status" jdbcType="INTEGER" property="planStatus" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="disease_code" jdbcType="VARCHAR" property="diseaseCode" />
    <result column="pats_ward_code" jdbcType="VARCHAR" property="patsWardCode" />
    <result column="plan_creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <resultMap id="BlobResultMap" type="com.leanin.domain.dto.PlanInfoDto">
  	<id column="plan_num" jdbcType="VARCHAR" property="planNum" />
    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
    <result column="patient_info_source" jdbcType="INTEGER" property="patientInfoSource" />
    <result column="plan_begin_time" jdbcType="DATE" property="planBeginTime" />
    <result column="plan_end_time" jdbcType="DATE" property="planEndTime" />
    <result column="plan_ward_code" jdbcType="VARCHAR" property="planWardCode" />
    <result column="plan_duty_per" jdbcType="VARCHAR" property="planDutyPer" />
    <result column="plan_target" jdbcType="VARCHAR" property="planTarget" />
    <result column="plan_send_type" jdbcType="INTEGER" property="planSendType" />
    <result column="plan_sex" jdbcType="INTEGER" property="planSex" />
    <result column="plan_age_interval" jdbcType="VARCHAR" property="planAgeInterval" />
    <result column="plan_exis_phone" jdbcType="INTEGER" property="planExisPhone" />
    <result column="plan_type" jdbcType="INTEGER" property="planType" />
    <result column="plan_status" jdbcType="INTEGER" property="planStatus" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="disease_code" jdbcType="VARCHAR" property="diseaseCode" />
    <result column="pats_ward_code" jdbcType="VARCHAR" property="patsWardCode" />
    <result column="plan_creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <association property="formType" column="form_type_id" javaType="com.leanin.domain.vo.FormTypeVo">
    	<id column="form_type_id" jdbcType="BIGINT" property="formTypeId" />
    	<result column="form_type_name" jdbcType="VARCHAR" property="formTypeName" />
    </association>
    <association property="formInfo" column="follow_form_num" javaType="com.leanin.domain.vo.FormInfoVo">
    	<id column="form_num" jdbcType="VARCHAR" property="formNum" />
    	<result column="form_name" jdbcType="VARCHAR" property="formName" /> 
    </association>
    <association property="rulesInfo" column="rules_info_num" javaType="com.leanin.domain.vo.RulesInfoVo">
    	<id column="rules_info_id" jdbcType="BIGINT" property="rulesInfoId" />
	    <result column="rules_info_type_name" jdbcType="INTEGER" property="rulesInfoTypeName" />
	    <result column="rules_info_name" jdbcType="VARCHAR" property="rulesInfoName" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    plan_num, plan_name, patient_info_source, plan_begin_time, plan_end_time, plan_ward_code, 
    plan_duty_per, plan_target, plan_send_type, form_type_id, follow_form_num, rules_info_num, 
    plan_sex, plan_age_interval, plan_exis_phone, plan_type, plan_status, area_code,disease_code,
    pats_ward_code,plan_creater,create_date
  </sql>
  <sql id="Blob_Column_List">
  	p.plan_num, p.plan_name, p.patient_info_source, p.plan_begin_time, p.plan_end_time, p.plan_ward_code, 
    p.plan_duty_per, p.plan_target, p.plan_send_type, t.form_type_id,t.form_type_name, f.form_num,f.form_name, r.rules_info_id, 
    r.rules_info_type_name, r.rules_info_name,p.plan_sex, p.plan_age_interval, p.plan_exis_phone, p.plan_type, p.plan_status, p.area_code,p.disease_code,
    p.pats_ward_code,p.plan_creater,p.create_date
  </sql>
  <select id="findPlanList" parameterType="java.lang.String" resultMap="BlobResultMap">
  	 select 
  	 <include refid="Blob_Column_List" />
  	 from leanin_plan_info p 
  	 left join leanin_form_type t on t.form_type_id=p.form_type_id
  	 left join leanin_form_info f on p.follow_form_num=f.form_num
  	 left join leanin_rules_info r on p.rules_info_num=r.rules_info_id
  	 where p.plan_status>=0
  	 and p.plan_type=#{planType}
  	 <if test="planName != null">
        and p.plan_name like CONCAT('%',#{planName},'%')
      </if>
  </select>
  <select id="findPlanInfoById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_plan_info where plan_status>=0
    and plan_num = #{planNum,jdbcType=VARCHAR}
  </select> 
  <select id="findPlanInfoByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_plan_info where plan_status>=0
    and plan_name = #{planName,jdbcType=VARCHAR}
  </select>
  <update id="updatePlanStatus">
    update leanin_plan_info set plan_status=#{status}
    where plan_num = #{planNum,jdbcType=VARCHAR}
  </update>
  <insert id="addPlanInfo" parameterType="com.leanin.domain.vo.PlanInfoVo">
    insert into leanin_plan_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="planNum != null">
        plan_num,
      </if>
      <if test="planName != null">
        plan_name,
      </if>
      <if test="patientInfoSource != null">
        patient_info_source,
      </if>
      <if test="planBeginTime != null">
        plan_begin_time,
      </if>
      <if test="planEndTime != null">
        plan_end_time,
      </if>
      <if test="planWardCode != null">
        plan_ward_code,
      </if>
      <if test="planDutyPer != null">
        plan_duty_per,
      </if>
      <if test="planTarget != null">
        plan_target,
      </if>
      <if test="planSendType != null">
        plan_send_type,
      </if>
      <if test="formTypeId != null">
        form_type_id,
      </if>
      <if test="followFormNum != null">
        follow_form_num,
      </if>
      <if test="rulesInfoNum != null">
        rules_info_num,
      </if>
      <if test="planSex != null">
        plan_sex,
      </if>
      <if test="planAgeInterval != null">
        plan_age_interval,
      </if>
      <if test="planExisPhone != null">
        plan_exis_phone,
      </if>
      <if test="planType != null">
        plan_type,
      </if>
      <if test="planStatus != null">
        plan_status,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="diseaseCode != null">
      	disease_code,
      </if>
      <if test="patsWardCode !=null">
      	pats_ward_code,
      </if>
      <if test="creater != null">
      	plan_creater,
      </if>
      <if test="createDate !=null">
      	create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="planNum != null">
        #{planNum,jdbcType=VARCHAR},
      </if>
      <if test="planName != null">
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="patientInfoSource != null">
        #{patientInfoSource,jdbcType=INTEGER},
      </if>
      <if test="planBeginTime != null">
        #{planBeginTime,jdbcType=DATE},
      </if>
      <if test="planEndTime != null">
        #{planEndTime,jdbcType=DATE},
      </if>
      <if test="planWardCode != null">
        #{planWardCode,jdbcType=VARCHAR},
      </if>
      <if test="planDutyPer != null">
        #{planDutyPer,jdbcType=VARCHAR},
      </if>
      <if test="planTarget != null">
        #{planTarget,jdbcType=VARCHAR},
      </if>
      <if test="planSendType != null">
        #{planSendType,jdbcType=INTEGER},
      </if>
      <if test="formTypeId != null">
        #{formTypeId,jdbcType=BIGINT},
      </if>
      <if test="followFormNum != null">
        #{followFormNum,jdbcType=VARCHAR},
      </if>
      <if test="rulesInfoNum != null">
        #{rulesInfoNum,jdbcType=VARCHAR},
      </if>
      <if test="planSex != null">
        #{planSex,jdbcType=INTEGER},
      </if>
      <if test="planAgeInterval != null">
        #{planAgeInterval,jdbcType=VARCHAR},
      </if>
      <if test="planExisPhone != null">
        #{planExisPhone,jdbcType=INTEGER},
      </if>
      <if test="planType != null">
        #{planType,jdbcType=INTEGER},
      </if>
      <if test="planStatus != null">
        #{planStatus,jdbcType=INTEGER},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="diseaseCode != null">
      	#{diseaseCode,jdbcType=VARCHAR},
      </if>
      <if test="patsWardCode !=null">
      	#{patsWardCode,jdbcType=VARCHAR},
      </if>
      <if test="creater !=null">
      	#{creater,jdbcType=VARCHAR},
      </if>
      <if test="createDate !=null">
      	#{createDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updatePlanInfo" parameterType="com.leanin.domain.vo.PlanInfoVo">
    update leanin_plan_info
    <set>
      <if test="planName != null">
        plan_name = #{planName,jdbcType=VARCHAR},
      </if>
      <if test="patientInfoSource != null">
        patient_info_source = #{patientInfoSource,jdbcType=INTEGER},
      </if>
      <if test="planBeginTime != null">
        plan_begin_time = #{planBeginTime,jdbcType=DATE},
      </if>
      <if test="planEndTime != null">
        plan_end_time = #{planEndTime,jdbcType=DATE},
      </if>
      <if test="planWardCode != null">
        plan_ward_code = #{planWardCode,jdbcType=VARCHAR},
      </if>
      <if test="planDutyPer != null">
        plan_duty_per = #{planDutyPer,jdbcType=VARCHAR},
      </if>
      <if test="planTarget != null">
        plan_target = #{planTarget,jdbcType=VARCHAR},
      </if>
      <if test="planSendType != null">
        plan_send_type = #{planSendType,jdbcType=INTEGER},
      </if>
      <if test="formTypeId != null">
        form_type_id = #{formTypeId,jdbcType=BIGINT},
      </if>
      <if test="followFormNum != null">
        follow_form_num = #{followFormNum,jdbcType=VARCHAR},
      </if>
      <if test="rulesInfoNum != null">
        rules_info_num = #{rulesInfoNum,jdbcType=VARCHAR},
      </if>
      <if test="planSex != null">
        plan_sex = #{planSex,jdbcType=INTEGER},
      </if>
      <if test="planAgeInterval != null">
        plan_age_interval = #{planAgeInterval,jdbcType=VARCHAR},
      </if>
      <if test="planExisPhone != null">
        plan_exis_phone = #{planExisPhone,jdbcType=INTEGER},
      </if>
      <if test="planType != null">
        plan_type = #{planType,jdbcType=INTEGER},
      </if>
      <if test="planStatus != null">
        plan_status = #{planStatus,jdbcType=INTEGER},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="diseaseCode != null">
      	disease_code = #{diseaseCode,jdbcType=VARCHAR},
      </if>
      <if test="patsWardCode !=null">
      	pats_ward_code = #{patsWardCode,jdbcType=VARCHAR}
      </if>
    </set>
    where plan_num = #{planNum,jdbcType=VARCHAR}
  </update>
</mapper>