<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.SatisfyPlanMapper">
  <resultMap id="Base" type="com.leanin.domain.vo.SatisfyPlanVo">
    <id column="plan_satisfy_num" jdbcType="VARCHAR" property="planSatisfyNum" />
    <result column="plan_satisfy_name" jdbcType="VARCHAR" property="planSatisfyName" />
    <result column="patient_type" jdbcType="INTEGER" property="patientType" />
    <result column="plan_satisfy_begin_date" jdbcType="DATE" property="planSatisfyBeginDate" />
    <result column="plan_satisfy_end_date" jdbcType="DATE" property="planSatisfyEndDate" />
    <result column="patient_ward" jdbcType="VARCHAR" property="patientWard" />
    <result column="discover_person"  property="discoverPerson" />
    <result column="discover_target" jdbcType="VARCHAR" property="discoverTarget" />
    <result column="discover_type" jdbcType="INTEGER" property="discoverType" />
    <result column="form_type_id" jdbcType="BIGINT" property="formTypeId" />
    <result column="satisfy_num" jdbcType="VARCHAR" property="satisfyNum" />
    <result column="patient_sex" jdbcType="INTEGER" property="patientSex" />
    <result column="patient_age" jdbcType="VARCHAR" property="patientAge" />
    <result column="patient_phone" jdbcType="INTEGER" property="patientPhone" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="plan_creater" property="creater" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="satisfy_plan_status" jdbcType="INTEGER" property="satisfyPlanStatus" />
    <result column="satisfy_rules_text" jdbcType="LONGVARCHAR" property="rulesText" />
    <result column="satisfy_disease_name" jdbcType="VARCHAR" property="diseaseName" />
    <result column="satisfy_plan_ward" jdbcType="VARCHAR" property="satisfyPlanWard" />
    <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="msg_type" jdbcType="BIGINT" property="msgType" />
  </resultMap>

  <resultMap extends="Base" id="BaseResultMap" type="com.leanin.domain.vo.SatisfyPlanVo">

    <association property="createrName" column="plan_creater" javaType="string"
                 select="com.leanin.mapper.UserMapper.findUserName">
    </association>
    <association property="discoverPersonName" column="discover_person" javaType="string"
                 select="com.leanin.mapper.UserMapper.findUserName">
    </association>
  </resultMap>

  <resultMap id="unfinishResultMap" type="com.leanin.domain.vo.SatisfyPlanVo">
    <id column="plan_satisfy_num" jdbcType="VARCHAR" property="planSatisfyNum" />
    <result column="plan_satisfy_name" jdbcType="VARCHAR" property="planSatisfyName" />
    <result column="patient_type" jdbcType="INTEGER" property="patientType" />
    <result column="plan_satisfy_begin_date" jdbcType="DATE" property="planSatisfyBeginDate" />
    <result column="plan_satisfy_end_date" jdbcType="DATE" property="planSatisfyEndDate" />
    <result column="patient_ward" jdbcType="VARCHAR" property="patientWard" />
    <result column="discover_person" jdbcType="VARCHAR" property="discoverPerson" />
    <result column="discover_target" jdbcType="VARCHAR" property="discoverTarget" />
    <result column="discover_type" jdbcType="INTEGER" property="discoverType" />
    <result column="form_type_id" jdbcType="BIGINT" property="formTypeId" />
    <result column="satisfy_num" jdbcType="VARCHAR" property="satisfyNum" />
    <result column="patient_sex" jdbcType="INTEGER" property="patientSex" />
    <result column="patient_age" jdbcType="VARCHAR" property="patientAge" />
    <result column="patient_phone" jdbcType="INTEGER" property="patientPhone" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="plan_creater" property="creater" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="satisfy_plan_status" jdbcType="INTEGER" property="satisfyPlanStatus" />
    <result column="satisfy_rules_text" jdbcType="LONGVARCHAR" property="rulesText" />
    <result column="satisfy_disease_name" jdbcType="VARCHAR" property="diseaseName" />
    <result column="satisfy_plan_ward" jdbcType="VARCHAR" property="satisfyPlanWard" />
    <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="msg_type" jdbcType="BIGINT" property="msgType" />
    <association property="unfinishCount" column="plan_satisfy_num"
                 javaType="integer" select="com.leanin.mapper.SatisfyPatientMapper.findUnfinishCount">

    </association>
    <association property="createrName" column="plan_creater" javaType="string"
                 select="com.leanin.mapper.UserMapper.findUserName">

    </association>
    <association property="discoverPersonName" column="discover_person" javaType="string"
                 select="com.leanin.mapper.UserMapper.findUserName">

    </association>
  </resultMap>

  <sql id="Base_Column_List">
    plan_satisfy_num, plan_satisfy_name, patient_type, plan_satisfy_begin_date, plan_satisfy_end_date, 
    patient_ward, discover_person, discover_target, discover_type, form_type_id, satisfy_num, 
    patient_sex, patient_age, patient_phone, area_code, plan_creater, create_date, satisfy_plan_status,
    satisfy_rules_text, satisfy_disease_name,satisfy_plan_ward,msg_id,msg_type
  </sql>

  <select id="findSatisfyPlanList" parameterType="java.lang.String" resultMap="unfinishResultMap">
  	select 
    <include refid="Base_Column_List" />
    from leanin_satisfy_plan where satisfy_plan_status >= 0
    <if test="satisfyPlanName !=null">
    	and plan_satisfy_name like CONCAT('%',#{satisfyPlanName},'%')
    </if>
  </select>

  <select id="findSatisfyPlanById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_satisfy_plan where satisfy_plan_status>=0
    and plan_satisfy_num = #{planSatisfyNum,jdbcType=VARCHAR}
  </select>

  <select id="findSatisfyPlanByName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from leanin_satisfy_plan where satisfy_plan_status>=0
    and plan_satisfy_name = #{satisfyPlanName,jdbcType=VARCHAR}
  </select>

    <select id="findPNById" resultType="java.lang.String">
      select plan_satisfy_name
      from leanin_satisfy_plan
      where plan_satisfy_num = #{planNum}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from leanin_satisfy_plan
      where satisfy_plan_status>=0
      and discover_person = #{userId}
    </select>


    <select id="findByWard" resultMap="Base">
        select
        <include refid="Base_Column_List"/>
        from leanin_satisfy_plan
        where satisfy_plan_status = 0
        and patient_ward like CONCAT('%',#{patientWard},'%')
    </select>

    <select id="findByParamId" resultMap="Base">
      select
        <include refid="Base_Column_List"/>
      from leanin_satisfy_plan
      where satisfy_plan_status = 0
      <if test="msgId != null">
        and msg_id = #{msgId}
      </if>
      <if test="formId != null">
        and satisfy_num = #{formId}
      </if>
      limit 1
    </select>

    <update id="updateSatisfyStatus">
    update leanin_satisfy_plan set satisfy_plan_status=#{status}
    where plan_satisfy_num = #{planSatisfyNum,jdbcType=VARCHAR}
  </update>

  <insert id="addSatisfyPlan" parameterType="com.leanin.domain.vo.SatisfyPlanVo">
    insert into leanin_satisfy_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="planSatisfyNum != null">
        plan_satisfy_num,
      </if>
      <if test="planSatisfyName != null">
        plan_satisfy_name,
      </if>
      <if test="patientType != null">
        patient_type,
      </if>
      <if test="planSatisfyBeginDate != null">
        plan_satisfy_begin_date,
      </if>
      <if test="planSatisfyEndDate != null">
        plan_satisfy_end_date,
      </if>
      <if test="patientWard != null">
        patient_ward,
      </if>
      <if test="discoverPerson != null">
        discover_person,
      </if>
      <if test="discoverTarget != null">
        discover_target,
      </if>
      <if test="discoverType != null">
        discover_type,
      </if>
      <if test="formTypeId != null">
        form_type_id,
      </if>
      <if test="satisfyNum != null">
        satisfy_num,
      </if>
      <if test="patientSex != null">
        patient_sex,
      </if>
      <if test="patientAge != null">
        patient_age,
      </if>
      <if test="patientPhone != null">
        patient_phone,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="creater != null">
        plan_creater,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="satisfyPlanStatus != null">
        satisfy_plan_status,
      </if>
      <if test="rulesText != null">
        satisfy_rules_text,
      </if>
      <if test="diseaseName != null">
        satisfy_disease_name,
      </if>
      <if test="satisfyPlanWard != null">
        satisfy_plan_ward,
      </if>
      <if test="msgId != null">
        msg_id,
      </if>
      <if test="msgType != null">
        msg_type,
      </if>
      <if test="importData != null">
        import_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="planSatisfyNum != null">
        #{planSatisfyNum,jdbcType=VARCHAR},
      </if>
      <if test="planSatisfyName != null">
        #{planSatisfyName,jdbcType=VARCHAR},
      </if>
      <if test="patientType != null">
        #{patientType,jdbcType=INTEGER},
      </if>
      <if test="planSatisfyBeginDate != null">
        #{planSatisfyBeginDate,jdbcType=DATE},
      </if>
      <if test="planSatisfyEndDate != null">
        #{planSatisfyEndDate,jdbcType=DATE},
      </if>
      <if test="patientWard != null">
        #{patientWard,jdbcType=VARCHAR},
      </if>
      <if test="discoverPerson != null">
        #{discoverPerson},
      </if>
      <if test="discoverTarget != null">
        #{discoverTarget,jdbcType=VARCHAR},
      </if>
      <if test="discoverType != null">
        #{discoverType,jdbcType=INTEGER},
      </if>
      <if test="formTypeId != null">
        #{formTypeId,jdbcType=BIGINT},
      </if>
      <if test="satisfyNum != null">
        #{satisfyNum,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null">
        #{patientSex,jdbcType=INTEGER},
      </if>
      <if test="patientAge != null">
        #{patientAge,jdbcType=VARCHAR},
      </if>
      <if test="patientPhone != null">
        #{patientPhone,jdbcType=INTEGER},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="satisfyPlanStatus != null">
        #{satisfyPlanStatus,jdbcType=INTEGER},
      </if>
      <if test="rulesText != null">
        #{rulesText,jdbcType=LONGVARCHAR},
      </if>
      <if test="diseaseName != null">
        #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="satisfyPlanWard != null">
        #{satisfyPlanWard,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null">
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=BIGINT},
      </if>
      <if test="importData != null">
        #{importData},
      </if>
    </trim>
  </insert>
  <update id="updateSatisfyPlan" parameterType="com.leanin.domain.vo.SatisfyPlanVo">
    update leanin_satisfy_plan
    <set>
      <if test="planSatisfyName != null">
        plan_satisfy_name = #{planSatisfyName,jdbcType=VARCHAR},
      </if>
      <if test="patientType != null">
        patient_type = #{patientType,jdbcType=INTEGER},
      </if>
      <if test="planSatisfyBeginDate != null">
        plan_satisfy_begin_date = #{planSatisfyBeginDate,jdbcType=DATE},
      </if>
      <if test="planSatisfyEndDate != null">
        plan_satisfy_end_date = #{planSatisfyEndDate,jdbcType=DATE},
      </if>
      <if test="patientWard != null">
        patient_ward = #{patientWard,jdbcType=VARCHAR},
      </if>
      <if test="discoverPerson != null">
        discover_person = #{discoverPerson},
      </if>
      <if test="discoverTarget != null">
        discover_target = #{discoverTarget,jdbcType=VARCHAR},
      </if>
      <if test="discoverType != null">
        discover_type = #{discoverType,jdbcType=INTEGER},
      </if>
      <if test="formTypeId != null">
        form_type_id = #{formTypeId,jdbcType=BIGINT},
      </if>
      <if test="satisfyNum != null">
        satisfy_num = #{satisfyNum,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null">
        patient_sex = #{patientSex,jdbcType=INTEGER},
      </if>
      <if test="patientAge != null">
        patient_age = #{patientAge,jdbcType=VARCHAR},
      </if>
      <if test="patientPhone != null">
        patient_phone = #{patientPhone,jdbcType=INTEGER},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
       <if test="rulesText != null">
        satisfy_rules_text=#{rulesText,jdbcType=LONGVARCHAR},
      </if>
      <if test="diseaseName != null">
        satisfy_disease_name=#{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="satisfyPlanWard != null">
        satisfy_plan_ward=#{satisfyPlanWard,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null">
        msg_id=#{msgId,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        msg_type=#{msgType,jdbcType=BIGINT},
      </if>
    </set>
    where plan_satisfy_num = #{planSatisfyNum,jdbcType=VARCHAR}
  </update>
</mapper>