<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.SatisfyInfoMapper">
  <resultMap id="BaseResultMap" type="com.leanin.domain.vo.SatisfyInfoVo">
    <id column="satisfy_num" jdbcType="VARCHAR" property="satisfyNum" />
    <result column="satisfy_name" jdbcType="VARCHAR" property="satisfyName" />
    <result column="satisfy_date" jdbcType="VARCHAR" property="satisfyDate" />
    <result column="satisfy_status" jdbcType="INTEGER" property="satisfyStatus" />
    <result column="satisfy_type_id" jdbcType="BIGINT" property="satisfyTypeId" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="satisfy_title"  property="satisfyTitle" />
    <result column="satisfy_bottom" property="satisfyBottom" />
    <result column="share_status" property="shareStatus" />
    <association property="createrName" column="creater" javaType="string"
                 select="com.leanin.mapper.UserMapper.findUserName">
    </association>
  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.leanin.domain.vo.SatisfyInfoVo">
    <result column="satisfy_text" jdbcType="LONGVARCHAR" property="satisfyText" />
  </resultMap>

  <resultMap id="BASE" type="com.leanin.domain.vo.SatisfyInfoExt">
    <id column="satisfy_num" jdbcType="VARCHAR" property="satisfyNum" />
    <result column="satisfy_name" jdbcType="VARCHAR" property="satisfyName" />
    <result column="satisfy_date" jdbcType="VARCHAR" property="satisfyDate" />
    <result column="satisfy_status" jdbcType="INTEGER" property="satisfyStatus" />
    <result column="satisfy_type_id" jdbcType="BIGINT" property="satisfyTypeId" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="satisfy_title"  property="satisfyTitle" />
    <result column="satisfy_bottom" property="satisfyBottom" />
    <result column="satisfy_text" jdbcType="LONGVARCHAR" property="satisfyText" />
    <result column="patient_satisfy_id" property="satisfyPatientId"/>
    <result column="share_status" property="shareStatus" />
  </resultMap>
  
  <sql id="Base_Column_List">
    satisfy_num, satisfy_name, satisfy_date, satisfy_status, satisfy_type_id, area_code, 
    creater,share_status
  </sql>
  <sql id="Blob_Column_List">
    satisfy_text,satisfy_title,satisfy_bottom
  </sql>
  <sql id="BASE">
    lsi.satisfy_num, lsi.satisfy_name, lsi.satisfy_date, lsi.satisfy_status, lsi.satisfy_type_id,lsi.area_code,
    lsi.creater,lsi.satisfy_text,lsi.satisfy_title,lsi.satisfy_bottom,lsi.share_status,lsp.patient_satisfy_id
  </sql>
  <sql id="BASE1">
    lsi.satisfy_num, lsi.satisfy_name, lsi.satisfy_date, lsi.satisfy_status, lsi.satisfy_type_id, lsi.area_code,
    lsi.creater,lsi.satisfy_text,lsi.satisfy_title,lsi.satisfy_bottom,lsi.share_status
  </sql>
  <select id="findSatisfyList" resultMap="ResultMapWithBLOBs">
  	select
  	<include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from leanin_satisfy_info where satisfy_status>=0
    <if test="satisfyName != null">
        and satisfy_name like CONCAT('%',#{satisfyName},'%')
    </if>
    <if test="typeId != null">
        and satisfy_type_id=#{typeId}
    </if>
    <if test="shareStatus != null">
      and share_status = #{shareStatus}
    </if>
  </select>
  <select id="findSatisfyById" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from leanin_satisfy_info where satisfy_status>=0
    and satisfy_num = #{satisfyNum,jdbcType=VARCHAR}
  </select>
  <select id="findSatisfyByName" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
  	select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from leanin_satisfy_info where satisfy_status>=0
    and satisfy_name = #{satisfyName,jdbcType=VARCHAR}
  </select>
  
  <select id="findStyInfoByOpenId" resultMap="BASE">
    select
      <include refid="BASE"/>
    from leanin_satisfy_info lsi,leanin_satisfy_patient lsp,leanin_patient_wx lpw
    where lsi.satisfy_status = 0
    and lsp.patient_status = 0
    and lsi.satisfy_num = lsp.form_id
    and lsp.patient_id = lpw.patient_id
    and lpw.open_id =#{openId}
    and lsp.finish_type =#{finishType}
  </select>

  <select id="findStyInfoByOpenIdExt" resultMap="BASE">
    select
    <include refid="BASE1"/>
    from leanin_satisfy_info lsi,leanin_sty_info_record lsr,leanin_patient_wx lpw
    where lsi.satisfy_status = 0
    and lsi.satisfy_num = lsr.satisfy_num
    and lsr.patient_id = lpw.patient_id
    and lpw.open_id =#{openId}
    and lsr.finish_status =#{finishType}
  </select>

  <select id="findSatisfyByIdAndStatus" resultMap="ResultMapWithBLOBs">
    select
    <!--<include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />-->
      lsi.*
    from leanin_satisfy_info lsi,leanin_satisfy_plan lspl,leanin_satisfy_patient lsp
    where lsi.satisfy_status >= 0
    and lspl.satisfy_num = lsi.satisfy_num
    and lspl.plan_satisfy_num = lsp.satisfy_plan_num
    and lsp.patient_satisfy_id = #{planPatientId}
    and lsi.satisfy_num = #{formNum}
    and lsp.form_status = #{formStatus}
  </select>

    <select id="findSatisfyByPid" resultMap="ResultMapWithBLOBs">
      select
      lsi.*
      from leanin_satisfy_info lsi, leanin_satisfy_patient lsp,leanin_satisfy_plan lspl
      where lsi.satisfy_status = 0
      and lsi.satisfy_num = lspl.satisfy_num
      and lspl.plan_satisfy_num = lsp.satisfy_plan_num
      and lsp.patient_satisfy_id = #{planPatientId}
    </select>

    <update id="logoutSatisfyInfo" parameterType="java.lang.String">
    update leanin_satisfy_info set satisfy_status=-1
    where satisfy_num = #{satisfyNum,jdbcType=VARCHAR}
  </update>
  <insert id="addSatisfyInfo" parameterType="com.leanin.domain.vo.SatisfyInfoVo">
    insert into leanin_satisfy_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="satisfyNum != null">
        satisfy_num,
      </if>
      <if test="satisfyName != null">
        satisfy_name,
      </if>
      <if test="satisfyStatus != null">
        satisfy_status,
      </if>
      <if test="satisfyTypeId != null">
        satisfy_type_id,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="satisfyText != null">
        satisfy_text,
      </if>
      <if test="satisfyTitle != null">
        satisfy_title,
      </if>
      <if test="satisfyBottom != null">
        satisfy_bottom,
      </if>
      <if test="shareStatus != null">
        share_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="satisfyNum != null">
        #{satisfyNum,jdbcType=VARCHAR},
      </if>
      <if test="satisfyName != null">
        #{satisfyName,jdbcType=VARCHAR},
      </if>
      <if test="satisfyStatus != null">
        #{satisfyStatus,jdbcType=INTEGER},
      </if>
      <if test="satisfyTypeId != null">
        #{satisfyTypeId,jdbcType=BIGINT},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater},
      </if>
      <if test="satisfyText != null">
        #{satisfyText,jdbcType=LONGVARCHAR},
      </if>
      <if test="satisfyTitle != null">
        #{satisfyTitle},
      </if>
      <if test="satisfyBottom != null">
        #{satisfyBottom},
      </if>
      <if test="shareStatus != null">
        #{shareStatus},
      </if>
    </trim>
  </insert>
  <update id="updateSatisfyInfo" parameterType="com.leanin.domain.vo.SatisfyInfoVo">
    update leanin_satisfy_info
    <set>
      <if test="satisfyName != null">
        satisfy_name = #{satisfyName,jdbcType=VARCHAR},
      </if>
      <if test="satisfyStatus != null">
        satisfy_status = #{satisfyStatus,jdbcType=INTEGER},
      </if>
      <if test="satisfyTypeId != null">
        satisfy_type_id = #{satisfyTypeId,jdbcType=BIGINT},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        creater = #{creater},
      </if>
      <if test="satisfyText != null">
        satisfy_text = #{satisfyText,jdbcType=LONGVARCHAR},
      </if>
      <if test="satisfyTitle != null">
        satisfy_title = #{satisfyTitle},
      </if>
      <if test="satisfyBottom != null">
        satisfy_bottom = #{satisfyBottom},
      </if>
      <if test="shareStatus != null">
        share_status = #{shareStatus},
      </if>
    </set>
    where satisfy_num = #{satisfyNum,jdbcType=VARCHAR}
  </update>
</mapper>