<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.SatisfyPatientMapper">
    <resultMap id="BaseResultMap" type="com.leanin.domain.vo.SatisfyPatientVo">
        <id column="patient_satisfy_id" jdbcType="BIGINT" property="patientSatisfyId"/>
        <result column="satisfy_plan_num" jdbcType="VARCHAR" property="satisfyPlanNum"/>
        <result column="patient_id" jdbcType="BIGINT" property="patientId"/>
        <result column="patient_name" jdbcType="VARCHAR" property="patientName"/>
        <result column="patient_sex" jdbcType="INTEGER" property="patientSex"/>
        <result column="patient_age" jdbcType="INTEGER" property="patientAge"/>
        <result column="patient_phone" jdbcType="VARCHAR" property="patientPhone"/>
        <result column="patient_ward" jdbcType="VARCHAR" property="patientWard"/>
        <result column="patient_date_time" jdbcType="TIMESTAMP" property="patientDateTime"/>
        <result column="finish_type" jdbcType="INTEGER" property="finishType"/>
        <result column="patient_condition" jdbcType="VARCHAR" property="patientCondition"/>
        <result column="patient_diagous" jdbcType="VARCHAR" property="patientDiagous"/>
        <result column="patient_type" jdbcType="INTEGER" property="patientType"/>
        <result column="patient_status" jdbcType="INTEGER" property="patientStatus"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="send_type" jdbcType="INTEGER" property="sendType"/>
        <result column="id_card"  property="idCard"/>
        <result column="inhos_no"  property="inhosNo"/>
        <result column="open_id"  property="openId"/>
        <association property="satisfyPlanVo" column="satisfy_plan_num" javaType="com.leanin.domain.vo.SatisfyPlanVo"
                     select="com.leanin.mapper.SatisfyPlanMapper.findSatisfyPlanById">
        </association>
    </resultMap>
    <resultMap id="BASE_MAP" type="com.leanin.domain.vo.SatisfyPatientVo">
        <id column="patient_satisfy_id" jdbcType="BIGINT" property="patientSatisfyId"/>
        <result column="satisfy_plan_num" jdbcType="VARCHAR" property="satisfyPlanNum"/>
        <result column="patient_id" jdbcType="BIGINT" property="patientId"/>
        <result column="patient_name" jdbcType="VARCHAR" property="patientName"/>
        <result column="patient_sex" jdbcType="INTEGER" property="patientSex"/>
        <result column="patient_age" jdbcType="INTEGER" property="patientAge"/>
        <result column="patient_phone" jdbcType="VARCHAR" property="patientPhone"/>
        <result column="patient_ward" jdbcType="VARCHAR" property="patientWard"/>
        <result column="patient_date_time" jdbcType="TIMESTAMP" property="patientDateTime"/>
        <result column="finish_type" jdbcType="INTEGER" property="finishType"/>
        <result column="patient_condition" jdbcType="VARCHAR" property="patientCondition"/>
        <result column="patient_diagous" jdbcType="VARCHAR" property="patientDiagous"/>
        <result column="patient_type" jdbcType="INTEGER" property="patientType"/>
        <result column="patient_status" jdbcType="INTEGER" property="patientStatus"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="send_type" jdbcType="INTEGER" property="sendType"/>
        <result column="id_card"  property="idCard"/>
        <result column="inhos_no"  property="inhosNo"/>
        <result column="open_id"  property="openId"/>
    </resultMap>
    <sql id="Base_Column_List">
    patient_satisfy_id, satisfy_plan_num, patient_id, send_type, patient_name,
    patient_sex, patient_age, patient_phone, patient_ward, patient_date_time, finish_type,
    patient_condition, patient_diagous, patient_type, patient_status,
    area_code,id_card,inhos_no,open_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from leanin_satisfy_patient
        where patient_satisfy_id = #{patientSatisfyId,jdbcType=BIGINT}
    </select>

    <select id="findList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM leanin_satisfy_patient
        WHERE patient_status=0
        <if test="satisfyPlanNum != null ">
            AND satisfy_plan_num = #{satisfyPlanNum}
        </if>
        <if test="patientName != null ">
            AND patient_name like CONCAT('%',#{patientName},'%')
        </if>
        <if test="patientWard != null ">
            AND patient_ward like CONCAT('%',#{patientWard},'%')
        </if>
        <if test="sendType != null ">
            AND send_type =#{sendType}
        </if>
        <if test="startDate != null ">
            AND patient_date_time &gt; #{startDate}
        </if>
        <if test="endDate != null ">
            AND patient_date_time &lt; #{endDate}
        </if>
        <if test="finishType != null ">
            AND finish_type = #{finishType}
        </if>
    </select>

    <!--根据计划id 查询未完成人数-->
    <select id="findUnfinishCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM leanin_satisfy_patient
        WHERE satisfy_plan_num = #{satisfyPlanNum} and finish_type = 1 and patient_status = 0
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from leanin_satisfy_patient
    where patient_satisfy_id = #{patientSatisfyId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.leanin.domain.vo.SatisfyPatientVo">
    insert into leanin_satisfy_patient (patient_satisfy_id, satisfy_plan_num, 
      patient_id, send_type, patient_name,
      patient_sex, patient_age, patient_phone, 
      patient_ward, patient_date_time, finish_type,
      patient_condition, patient_diagous, patient_type, 
      patient_status, area_code)
    values (#{patientSatisfyId,jdbcType=BIGINT}, #{satisfyPlanNum,jdbcType=VARCHAR}, 
      #{patientId,jdbcType=BIGINT}, #{sendType,jdbcType=INTEGER}, #{patientName,jdbcType=VARCHAR},
      #{patientSex,jdbcType=INTEGER}, #{patientAge,jdbcType=INTEGER}, #{patientPhone,jdbcType=VARCHAR}, 
      #{patientWard,jdbcType=VARCHAR}, #{patientDateTime,jdbcType=TIMESTAMP}, #{finishType,jdbcType=INTEGER},
      #{patientCondition,jdbcType=VARCHAR}, #{patientDiagous,jdbcType=VARCHAR}, #{patientType,jdbcType=INTEGER}, 
      #{patientStatus,jdbcType=INTEGER}, #{areaCode,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.leanin.domain.vo.SatisfyPatientVo">
        insert into leanin_satisfy_patient
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientSatisfyId != null">
                patient_satisfy_id,
            </if>
            <if test="satisfyPlanNum != null">
                satisfy_plan_num,
            </if>
            <if test="patientId != null">
                patient_id,
            </if>
            <if test="sendType != null">
                send_type,
            </if>
            <if test="patientName != null">
                patient_name,
            </if>
            <if test="patientSex != null">
                patient_sex,
            </if>
            <if test="patientAge != null">
                patient_age,
            </if>
            <if test="patientPhone != null">
                patient_phone,
            </if>
            <if test="patientWard != null">
                patient_ward,
            </if>
            <if test="patientDateTime != null">
                patient_date_time,
            </if>
            <if test="finishType != null">
                finish_type,
            </if>
            <if test="patientCondition != null">
                patient_condition,
            </if>
            <if test="patientDiagous != null">
                patient_diagous,
            </if>
            <if test="patientType != null">
                patient_type,
            </if>
            <if test="patientStatus != null">
                patient_status,
            </if>
            <if test="areaCode != null">
                area_code,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="inhosNo != null">
                inhos_no,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientSatisfyId != null">
                #{patientSatisfyId,jdbcType=BIGINT},
            </if>
            <if test="satisfyPlanNum != null">
                #{satisfyPlanNum,jdbcType=VARCHAR},
            </if>
            <if test="patientId != null">
                #{patientId,jdbcType=BIGINT},
            </if>
            <if test="sendType != null">
                #{sendType,jdbcType=INTEGER},
            </if>
            <if test="patientName != null">
                #{patientName,jdbcType=VARCHAR},
            </if>
            <if test="patientSex != null">
                #{patientSex,jdbcType=INTEGER},
            </if>
            <if test="patientAge != null">
                #{patientAge,jdbcType=INTEGER},
            </if>
            <if test="patientPhone != null">
                #{patientPhone,jdbcType=VARCHAR},
            </if>
            <if test="patientWard != null">
                #{patientWard,jdbcType=VARCHAR},
            </if>
            <if test="patientDateTime != null">
                #{patientDateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="finishType != null">
                #{finishType,jdbcType=INTEGER},
            </if>
            <if test="patientCondition != null">
                #{patientCondition,jdbcType=VARCHAR},
            </if>
            <if test="patientDiagous != null">
                #{patientDiagous,jdbcType=VARCHAR},
            </if>
            <if test="patientType != null">
                #{patientType,jdbcType=INTEGER},
            </if>
            <if test="patientStatus != null">
                #{patientStatus,jdbcType=INTEGER},
            </if>
            <if test="areaCode != null">
                #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="inhosNo != null">
                inhos_no = #{inhosNo},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.leanin.domain.vo.SatisfyPatientVo">
        update leanin_satisfy_patient
        <set>
            <if test="satisfyPlanNum != null">
                satisfy_plan_num = #{satisfyPlanNum,jdbcType=VARCHAR},
            </if>
            <if test="patientId != null">
                patient_id = #{patientId,jdbcType=BIGINT},
            </if>
            <if test="sendType != null">
                send_type = #{sendType,jdbcType=INTEGER},
            </if>
            <if test="patientName != null">
                patient_name = #{patientName,jdbcType=VARCHAR},
            </if>
            <if test="patientSex != null">
                patient_sex = #{patientSex,jdbcType=INTEGER},
            </if>
            <if test="patientAge != null">
                patient_age = #{patientAge,jdbcType=INTEGER},
            </if>
            <if test="patientPhone != null">
                patient_phone = #{patientPhone,jdbcType=VARCHAR},
            </if>
            <if test="patientWard != null">
                patient_ward = #{patientWard,jdbcType=VARCHAR},
            </if>
            <if test="patientDateTime != null">
                patient_date_time = #{patientDateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="finishType != null">
                finish_type = #{patientDoctor,jdbcType=INTEGER},
            </if>
            <if test="patientCondition != null">
                patient_condition = #{patientCondition,jdbcType=VARCHAR},
            </if>
            <if test="patientDiagous != null">
                patient_diagous = #{patientDiagous,jdbcType=VARCHAR},
            </if>
            <if test="patientType != null">
                patient_type = #{patientType,jdbcType=INTEGER},
            </if>
            <if test="patientStatus != null">
                patient_status = #{patientStatus,jdbcType=INTEGER},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="inhosNo != null">
                inhos_no = #{inhosNo},
            </if>
            <if test="openId != null">
                open_id = #{openId},
            </if>
        </set>
        where patient_satisfy_id = #{patientSatisfyId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.leanin.domain.vo.SatisfyPatientVo">
    update leanin_satisfy_patient
    set satisfy_plan_num = #{satisfyPlanNum,jdbcType=VARCHAR},
      patient_id = #{patientId,jdbcType=BIGINT},
      send_type = #{sendType,jdbcType=INTEGER},
      patient_name = #{patientName,jdbcType=VARCHAR},
      patient_sex = #{patientSex,jdbcType=INTEGER},
      patient_age = #{patientAge,jdbcType=INTEGER},
      patient_phone = #{patientPhone,jdbcType=VARCHAR},
      patient_ward = #{patientWard,jdbcType=VARCHAR},
      patient_date_time = #{patientDateTime,jdbcType=TIMESTAMP},
      finish_type = #{finishType,jdbcType=INTEGER},
      patient_condition = #{patientCondition,jdbcType=VARCHAR},
      patient_diagous = #{patientDiagous,jdbcType=VARCHAR},
      patient_type = #{patientType,jdbcType=INTEGER},
      patient_status = #{patientStatus,jdbcType=INTEGER},
      area_code = #{areaCode,jdbcType=VARCHAR}
    where patient_satisfy_id = #{patientSatisfyId,jdbcType=BIGINT}
  </update>
    <!--修改患者状态   0 未删除 1 已删除-->
    <update id="updatePatientStatus">
      UPDATE leanin_satisfy_patient
      SET patient_status = 1
      WHERE patient_satisfy_id = #{patientSatisfyId}
    </update>


    <select id="findPatsByParam" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM leanin_satisfy_patient
        WHERE patient_status = 1
        AND satisfy_plan_num IN (
          SELECT sp.plan_satisfy_num
          FROM leanin_satisfy_plan sp
          WHERE sp.discover_person =#{myFollowReq.userId} AND sp.satisfy_plan_status = 0
          <if test="myFollowReq.planId != null">
              AND sp.plan_satisfy_num = #{myFollowReq.planId}
          </if>
        )
        <if test="myFollowReq.startDate != null">
            AND patient_date_time &gt;= #{myFollowReq.startDate}
        </if>
        <if test="myFollowReq.endDate != null ">
            AND patient_date_time &lt;= #{myFollowReq.startDate}
        </if>
        <if test="myFollowReq.folStatus">
            AND finish_type = #{myFollowReq.folStatus}
        </if>
        <if test="myFollowReq.patName">
            AND patient_name like CONCAT('%',#{myFollowReq.patName},'%')
        </if>
    </select>

    <select id="bindPatient" resultMap="BASE_MAP">
        select
        <include refid="Base_Column_List"/>
        from leanin_satisfy_patient
        where patient_status = 0
        and id_card =#{idCard}
        and patient_phone = #{phoneNum}
        and patient_name = #{patientName}
    </select>
</mapper>