<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.mapper.StyInfoRecordMapper">

    <resultMap id="BaseMap" type="com.leanin.domain.vo.StyInfoRecordVo">
        <id column="satisfy_id" property="satisfyId"/>
        <result column="satisfy_num" property="satisfyNum"/>
        <result column="satisfy_name" property="satisfyName"/>
        <result column="create_time" property="createTime"/>
        <result column="form_creater" property="formCreater"/>
        <result column="satisfy_text" property="satisfyText"/>
        <result column="satisfy_type_id" property="satisfyTypeId"/>
        <result column="satisfy_title" property="satisfyTitle"/>
        <result column="satisfy_bottom" property="satisfyBottom"/>
        <result column="area_code" property="areaCode"/>
        <result column="finish_status" property="finishStatus"/>
        <result column="plan_patient_id" property="planPatientId"/>
        <result column="operating_id" property="operatingId"/>
        <result column="form_status" property="formStatus"/>
        <result column="id_card" property="idCard"/>
        <result column="inhos_no" property="inhosNo"/>
        <result column="patient_id" property="patientId"/>
    </resultMap>

    <sql id="BaseSql">
        satisfy_id,satisfy_num,satisfy_name,create_time,form_creater,satisfy_text,
        satisfy_type_id,satisfy_title,satisfy_bottom,area_code,finish_status,plan_patient_id,
        operating_id,form_status,id_card,inhos_no,patient_id
    </sql>

    <select id="findStyInfoRecord" resultMap="BaseMap">
        select
        <include refid="BaseSql"/>
        from leanin_sty_info_record
        where form_status = 2
        and plan_patient_id = #{planPatientId}
        order by create_time desc
        limit 1
    </select>

    <select id="findById" resultMap="BaseMap">
        SELECT
        <include refid="BaseSql"/>
        FROM `leanin_sty_info_record`
        WHERE satisfy_id = #{satisfyRecordId}
    </select>

    <select id="findByPlanNumAndCount" resultMap="BaseMap">
            SELECT lsif.*
            FROM `leanin_sty_info_record` lsif,`leanin_satisfy_patient` lsp
            WHERE lsif.`plan_patient_id` = lsp.`patient_satisfy_id`
            AND lsp.`satisfy_plan_num` =  #{planNum}
    </select>


    <select id="findByIdCard" resultMap="BaseMap">
        SELECT
            <include refid="BaseSql"/>
        FROM `leanin_sty_info_record`
        WHERE patient_id = #{idCard}
        ORDER BY create_time DESC
    </select>

    <insert id="addRecord">
        insert into leanin_sty_info_record
        <trim prefix="(" suffix=" )" suffixOverrides=",">
            <if test="styInfoRecordVo.satisfyId != null">
                satisfy_id,
            </if>
            <if test="styInfoRecordVo.satisfyNum != null">
                satisfy_num,
            </if>
            <if test="styInfoRecordVo.satisfyName != null">
                satisfy_name,
            </if>
            <if test="styInfoRecordVo.createTime != null">
                create_time,
            </if>
            <if test="styInfoRecordVo.formCreater != null">
                form_creater,
            </if>
            <if test="styInfoRecordVo.satisfyText != null">
                satisfy_text,
            </if>
            <if test="styInfoRecordVo.satisfyTypeId != null">
                satisfy_type_id,
            </if>
            <if test="styInfoRecordVo.satisfyTitle != null">
                satisfy_title,
            </if>
            <if test="styInfoRecordVo.satisfyBottom != null">
                satisfy_bottom,
            </if>
            <if test="styInfoRecordVo.areaCode != null">
                area_code,
            </if>
            <if test="styInfoRecordVo.finishStatus != null">
                finish_status,
            </if>
            <if test="styInfoRecordVo.planPatientId != null">
                plan_patient_id,
            </if>
            <if test="styInfoRecordVo.operatingId != null">
                operating_id,
            </if>
            <if test="styInfoRecordVo.patientId != null">
                patient_id,
            </if>
            <if test="styInfoRecordVo.formStatus != null">
                form_status,
            </if>
            <if test="styInfoRecordVo.idCard != null">
                id_card,
            </if>
            <if test="styInfoRecordVo.inhosNo != null">
                inhos_no,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="styInfoRecordVo.satisfyId != null">
                #{styInfoRecordVo.satisfyId},
            </if>
            <if test="styInfoRecordVo.satisfyNum != null">
                #{styInfoRecordVo.satisfyNum},
            </if>
            <if test="styInfoRecordVo.satisfyName != null">
                #{styInfoRecordVo.satisfyName},
            </if>
            <if test="styInfoRecordVo.createTime != null">
                #{styInfoRecordVo.createTime},
            </if>
            <if test="styInfoRecordVo.formCreater != null">
                #{styInfoRecordVo.formCreater},
            </if>
            <if test="styInfoRecordVo.satisfyText != null">
                #{styInfoRecordVo.satisfyText},
            </if>
            <if test="styInfoRecordVo.satisfyTypeId != null">
                #{styInfoRecordVo.satisfyTypeId},
            </if>
            <if test="styInfoRecordVo.satisfyTitle != null">
                #{styInfoRecordVo.satisfyTitle},
            </if>
            <if test="styInfoRecordVo.satisfyBottom != null">
                #{styInfoRecordVo.satisfyBottom},
            </if>
            <if test="styInfoRecordVo.areaCode != null">
                #{styInfoRecordVo.areaCode},
            </if>
            <if test="styInfoRecordVo.finishStatus != null">
                #{styInfoRecordVo.finishStatus},
            </if>
            <if test="styInfoRecordVo.planPatientId != null">
                #{styInfoRecordVo.planPatientId},
            </if>
            <if test="styInfoRecordVo.operatingId != null">
                #{styInfoRecordVo.operatingId},
            </if>
            <if test="styInfoRecordVo.patientId != null">
                #{styInfoRecordVo.patientId},
            </if>
            <if test="styInfoRecordVo.formStatus != null">
                #{styInfoRecordVo.formStatus},
            </if>
            <if test="styInfoRecordVo.idCard != null">
                #{styInfoRecordVo.idCard},
            </if>
            <if test="styInfoRecordVo.inhosNo != null">
                #{styInfoRecordVo.inhosNo},
            </if>
        </trim>
    </insert>


</mapper>