<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.schdule.mapper.MessagePatientMapper">
  <resultMap id="BaseResultMap" type="com.leanin.domain.vo.MessagePatientVo">
    <id column="patient_msg_id" jdbcType="BIGINT" property="patientMsgId" />
    <result column="msg_topic_id" jdbcType="VARCHAR" property="msgTopicId" />
    <result column="patient_id" jdbcType="BIGINT" property="patientId" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="patient_sex" jdbcType="INTEGER" property="patientSex" />
    <result column="patient_age" jdbcType="INTEGER" property="patientAge" />
    <result column="patient_phone" jdbcType="VARCHAR" property="patientPhone" />
    <result column="patient_id_card" jdbcType="VARCHAR" property="patientIdCard" />
    <result column="patient_type" jdbcType="INTEGER" property="patientType" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="send_type" jdbcType="INTEGER" property="sendType" />
  </resultMap>
  <sql id="Base_Column_List">
    patient_msg_id, msg_topic_id, patient_id, patient_name, patient_sex, patient_age, 
    patient_phone, patient_id_card, patient_type, area_code,send_type
  </sql>
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_msg_patient
    where patient_msg_id = #{patientMsgId,jdbcType=BIGINT}
  </select>-->
  <!--条件查询-->
  <select id="findList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM leanin_msg_patient
    WHERE 1 = 1
    <if test="patientName != null ">
      and patient_name LIKE CONCAT('%',#{patientName},'%')
    </if>
    <if test="sendType != null ">
      and send_type = #{sendType}
    </if>
  </select>
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from leanin_msg_patient
    where patient_msg_id = #{patientMsgId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.leanin.domain.vo.MessagePatientVo">
    insert into leanin_msg_patient (patient_msg_id, msg_topic_id, patient_id, 
      patient_name, patient_sex, patient_age, 
      patient_phone, patient_id_card, patient_type, 
      area_code,send_type)
    values (#{patientMsgId,jdbcType=BIGINT}, #{msgTopicId,jdbcType=VARCHAR}, #{patientId,jdbcType=BIGINT}, 
      #{patientName,jdbcType=VARCHAR}, #{patientSex,jdbcType=INTEGER}, #{patientAge,jdbcType=INTEGER}, 
      #{patientPhone,jdbcType=VARCHAR}, #{patientIdCard,jdbcType=VARCHAR}, #{patientType,jdbcType=INTEGER}, 
      #{areaCode,jdbcType=VARCHAR},#{sendType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.leanin.domain.vo.MessagePatientVo">
    insert into leanin_msg_patient
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patientMsgId != null">
        patient_msg_id,
      </if>
      <if test="msgTopicId != null">
        msg_topic_id,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="patientSex != null">
        patient_sex,
      </if>
      <if test="patientAge != null">
        patient_age,
      </if>
      <if test="patientPhone != null">
        patient_phone,
      </if>
      <if test="patientIdCard != null">
        patient_id_card,
      </if>
      <if test="patientType != null">
        patient_type,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="sendType != null">
        send_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patientMsgId != null">
        #{patientMsgId,jdbcType=BIGINT},
      </if>
      <if test="msgTopicId != null">
        #{msgTopicId,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=BIGINT},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null">
        #{patientSex,jdbcType=INTEGER},
      </if>
      <if test="patientAge != null">
        #{patientAge,jdbcType=INTEGER},
      </if>
      <if test="patientPhone != null">
        #{patientPhone,jdbcType=VARCHAR},
      </if>
      <if test="patientIdCard != null">
        #{patientIdCard,jdbcType=VARCHAR},
      </if>
      <if test="patientType != null">
        #{patientType,jdbcType=INTEGER},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="sendType != null">
        #{sendType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>-->
  <update id="updateByPrimaryKeySelective" parameterType="com.leanin.domain.vo.MessagePatientVo">
    update leanin_msg_patient
    <set>
      <if test="msgTopicId != null">
        msg_topic_id = #{msgTopicId,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=BIGINT},
      </if>
      <if test="patientName != null">
        patient_name = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null">
        patient_sex = #{patientSex,jdbcType=INTEGER},
      </if>
      <if test="patientAge != null">
        patient_age = #{patientAge,jdbcType=INTEGER},
      </if>
      <if test="patientPhone != null">
        patient_phone = #{patientPhone,jdbcType=VARCHAR},
      </if>
      <if test="patientIdCard != null">
        patient_id_card = #{patientIdCard,jdbcType=VARCHAR},
      </if>
      <if test="patientType != null">
        patient_type = #{patientType,jdbcType=INTEGER},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="sendType != null">
        send_type = #{sendType,jdbcType=INTEGER},
      </if>
    </set>
    where patient_msg_id = #{patientMsgId,jdbcType=BIGINT}
  </update>
  <!--<update id="updateByPrimaryKey" parameterType="com.leanin.domain.vo.MessagePatientVo">
    update leanin_msg_patient
    set msg_topic_id = #{msgTopicId,jdbcType=VARCHAR},
      patient_id = #{patientId,jdbcType=BIGINT},
      patient_name = #{patientName,jdbcType=VARCHAR},
      patient_sex = #{patientSex,jdbcType=INTEGER},
      patient_age = #{patientAge,jdbcType=INTEGER},
      patient_phone = #{patientPhone,jdbcType=VARCHAR},
      patient_id_card = #{patientIdCard,jdbcType=VARCHAR},
      patient_type = #{patientType,jdbcType=INTEGER},
      area_code = #{areaCode,jdbcType=VARCHAR}
      send_type = #{sendType,jdbcType=INTEGER}
    where patient_msg_id = #{patientMsgId,jdbcType=BIGINT}
  </update>-->
</mapper>