<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.schdule.mapper.MessageTopicMapper">
  <resultMap id="BaseResultMap" type="com.leanin.domain.vo.MessageTopicVo">
    <id column="msg_topic_id"  property="msgTopicId" />
    <result column="msg_topic_title"  property="msgTopicTitle" />
    <result column="patient_type"  property="patientType" />
    <result column="disease_name"  property="diseaseName" />
    <result column="msg_topic_head"  property="msgTopicHead" />
    <result column="msg_content"  property="msgContent" />
    <result column="msg_send_date"  property="msgSendDate" />
    <result column="msg_topic_creater"  property="msgTopicCreater" />
    <result column="msg_topic_creater_ward" property="msgTopicCreaterWard" />
    <result column="area_code"  property="areaCode" />
    <result column="msg_topic_state"  property="msgTopicState" />
    <result column="msg_start_date"  property="msgStartDate" />
    <result column="msg_end_date"  property="msgEndDate" />
    <result column="create_date"  property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    msg_topic_id,msg_topic_title,patient_type,disease_name,msg_topic_head,
    msg_content, msg_send_date, msg_topic_creater, msg_topic_creater_ward,
    area_code,msg_topic_state,msg_start_date,msg_end_date,create_date
  </sql>

  <select id="findMsgTopicList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leanin_msg_topic
    where msg_topic_state = 1
    <if test="msgTopicTitle != null">
         AND msg_topic_title like CONCAT('%',#{msgTopicTitle,jdbcType=VARCHAR},'%')
    </if>
  </select>

</mapper>