<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.schdule.mapper.PatientWxMapper">


    <select id="findOpenIdByIdCard" resultType="java.lang.String">
        select open_id
        from  leanin_patient_wx
        where id_card = #{idCard}
        limit 1
    </select>
</mapper>