<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.schdule.mapper.SatisfyPlanMapper">
  <resultMap id="BaseResultMap" type="com.leanin.domain.vo.SatisfyPlanVo">
    <id column="plan_satisfy_num" jdbcType="VARCHAR" property="planSatisfyNum" />
    <result column="plan_satisfy_name" jdbcType="VARCHAR" property="planSatisfyName" />
    <result column="patient_type" jdbcType="INTEGER" property="patientType" />
    <result column="plan_satisfy_begin_date" jdbcType="DATE" property="planSatisfyBeginDate" />
    <result column="plan_satisfy_end_date" jdbcType="DATE" property="planSatisfyEndDate" />
    <result column="patient_ward" jdbcType="VARCHAR" property="patientWard" />
    <result column="discover_person" jdbcType="VARCHAR" property="discoverPerson" />
    <result column="discover_target" jdbcType="VARCHAR" property="discoverTarget" />
    <result column="discover_type" jdbcType="INTEGER" property="discoverType" />
    <result column="form_type_id" jdbcType="BIGINT" property="formTypeId" />
    <result column="satisfy_num" jdbcType="VARCHAR" property="satisfyNum" />
    <result column="patient_sex" jdbcType="INTEGER" property="patientSex" />
    <result column="patient_age" jdbcType="VARCHAR" property="patientAge" />
    <result column="patient_phone" jdbcType="INTEGER" property="patientPhone" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="plan_creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="satisfy_plan_status" jdbcType="INTEGER" property="satisfyPlanStatus" />
    <result column="satisfy_rules_text" jdbcType="LONGVARCHAR" property="rulesText" />
    <result column="satisfy_disease_name" jdbcType="VARCHAR" property="diseaseName" />
    <result column="satisfy_plan_ward" jdbcType="VARCHAR" property="satisfyPlanWard" />
    <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="msg_type" jdbcType="BIGINT" property="msgType" />
    <result column="import_data" property="importData" />
  </resultMap>


  <sql id="Base_Column_List">
    plan_satisfy_num, plan_satisfy_name, patient_type, plan_satisfy_begin_date, plan_satisfy_end_date, 
    patient_ward, discover_person, discover_target, discover_type, form_type_id, satisfy_num, 
    patient_sex, patient_age, patient_phone, area_code, plan_creater, create_date, satisfy_plan_status,
    satisfy_rules_text, satisfy_disease_name,satisfy_plan_ward,msg_id,msg_type,import_data
  </sql>

  <update id="updateImportData">
    UPDATE
      `leanin_satisfy_plan`
    SET
      import_data = #{importData}
    WHERE plan_satisfy_num = #{planSatisfyNum}
  </update>

  <select id="findList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM leanin_satisfy_plan
    WHERE satisfy_plan_status = 0
  </select>

  <select id="findByImportData" resultMap="BaseResultMap">
    SELECT
        <include refid="Base_Column_List"/>
    FROM `leanin_satisfy_plan`
    WHERE satisfy_plan_status = 0
    AND import_data = #{importData}
  </select>
</mapper>