<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.oauth.mapper.RoleMapper">

    <resultMap id="Base_Result_Map" type="com.leanin.domain.vo.RoleInfoVo">
        <id property="roleId" column="role_id"></id>
        <result property="roleName" column="role_name"></result>
        <result property="roleDesc" column="role_desc"></result>
        <result property="roleCreateTime" column="role_create_time"></result>
        <result property="roleCreater" column="role_creater"></result>
        <result property="roleStatus" column="role_status"></result>
        <result property="roleRemark" column="role_remark"></result>
        <result property="hospitalAreaCode" column="hospital_area_code"></result>
    </resultMap>

    <resultMap extends="Base_Result_Map" id="Role_Menu_Result" type="com.leanin.domain.response.RoleInfoReP">
        <collection property="menus" column="role_id" ofType="com.leanin.domain.vo.MenuPermissionVo"
                    select="com.leanin.oauth.mapper.MenuMapper.findByRoleId">
        </collection>
    </resultMap>


    <sql id="Base_Sql">
        role_id,role_name,role_desc,role_create_time,role_creater,role_status,role_remark,hospital_area_code
    </sql>

    <!--<insert id="addRole">
        insert into leanin_role
        <trim prefix="( " suffix=" )" suffixOverrides=",">
            <if test="roleInfoVo">

            </if>
        </trim>
    </insert>-->

    <select id="findRoleListByUserId" resultMap="Base_Result_Map">
        SELECT
        <include refid="Base_Sql"/>
        FROM leanin_role
        WHERE role_id IN (
            SELECT DISTINCT ur.role_id
            FROM leanin_user_role ur
            WHERE ur.user_id = #{userId}
        )
    </select>
    <select id="findRoleId" resultMap="Role_Menu_Result">
        select
        <include refid="Base_Sql"/>
        from leanin_role
        where role_id =#{roleId}
        and role_status =1
    </select>

    <select id="findByRoleName" resultMap="Role_Menu_Result">
        select
        <include refid="Base_Sql"/>
        from leanin_role
        where role_status =1
        <if test="roleName != null">
            and role_name like CONCAT('%',#{roleName},'%')
        </if>
    </select>


</mapper>