<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leanin.oauth.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.leanin.domain.dao.UserDao">
        <id property="adminId" column="admin_id"/>
        <result property="adminName" column="admin_name"/>
        <result property="workNum" column="admin_work_num"/>
        <result property="password" column="admin_password"/>
        <result property="wardCode" column="admin_ward_code"/>
        <result property="jobTitle" column="admin_job_title"/>
        <result property="adminDesc" column="admin_desc"/>
        <result property="phone" column="admin_phone"/>
        <result property="areaCode" column="area_code"/>
        <result property="idCard" column="admin_id_card"/>
        <result property="sex" column="admin_sex"/>
        <result property="birthday" column="admin_birthday"/>
        <result property="organAscri" column="organ_attri"/>
        <result property="remark" column="remark"/>
        <result property="adminState" column="admin_state"/>
        <result property="hospitalName" column="hospital_name"/>
        <result property="userType" column="user_type"/>
        <result property="menu" column="menu"></result>
    </resultMap>

    <!--关联查询   关联角色 和 权限-->
    <resultMap id="DTO_Result_Map" type="com.leanin.domain.dto.AdminUserDto">
        <id property="adminId" column="admin_id"></id>
        <result property="adminName" column="admin_name"></result>
        <result property="workNum" column="admin_work_num"></result>
        <result property="password" column="admin_password"></result>
        <result property="wardCode" column="admin_ward_code"></result>
        <result property="jobTitle" column="admin_job_title"></result>
        <result property="adminDesc" column="admin_desc"></result>
        <result property="phone" column="admin_phone"></result>
        <result property="areaCode" column="area_code"></result>
        <result property="idCard" column="admin_id_card"></result>
        <result property="sex" column="admin_sex"></result>
        <result property="birthday" column="admin_birthday"></result>
        <result property="organAscri" column="organ_attri"></result>
        <result property="remark" column="remark"></result>
        <result property="state" column="admin_state"></result>
        <result property="hospitalName" column="hospital_name"></result>
        <result property="userType" column="user_type"></result>
        <result property="menu" column="menu"></result>
        <collection property="roleList" column="admin_id" ofType="com.leanin.domain.vo.RoleInfoVo"
                    select="com.leanin.oauth.mapper.RoleMapper.findRoleListByUserId">
        </collection>
        <collection property="menuPermissionVoList" column="admin_id" ofType="com.leanin.domain.vo.MenuPermissionVo"
                    select="com.leanin.oauth.mapper.MenuMapper.findMenuListByUserId">
        </collection>
        <collection property="wardCodeList" column="admin_id" ofType="com.leanin.domain.vo.WardInfoVo"
                    select="com.leanin.oauth.mapper.WarCodeMapper.findByUserId">
        </collection>
    </resultMap>
    <resultMap id="VO_Result_Map" type="com.leanin.domain.vo.AdminUserVo">
        <id property="adminId" column="admin_id"></id>
        <result property="adminName" column="admin_name"></result>
        <result property="workNum" column="admin_work_num"></result>
        <result property="password" column="admin_password"></result>
        <result property="wardCode" column="admin_ward_code"></result>
        <result property="jobTitle" column="admin_job_title"></result>
        <result property="adminDesc" column="admin_desc"></result>
        <result property="phone" column="admin_phone"></result>
        <result property="areaCode" column="area_code"></result>
        <result property="idCard" column="admin_id_card"></result>
        <result property="sex" column="admin_sex"></result>
        <result property="birthday" column="admin_birthday"></result>
        <result property="organAscri" column="organ_attri"></result>
        <result property="remark" column="remark"></result>
        <result property="adminState" column="admin_state"></result>
        <result property="hospitalName" column="hospital_name"></result>
        <result property="userType" column="user_type"></result>
        <result property="menu" column="menu"></result>
    </resultMap>
    
    <resultMap id="MenuResultMap" type="com.leanin.domain.vo.AdminUserVo">
        <result property="menu" column="com.leanin.domain.dao.UserDao"/>
    </resultMap>
    
    <sql id="Base_Sql">
        admin_id,admin_name,admin_work_num,admin_password,admin_ward_code,
        admin_job_title,admin_desc,admin_phone,area_code,admin_id_card,
        admin_sex,admin_birthday,organ_attri,remark,admin_state,hospital_name,user_type,menu
    </sql>
    <sql id="Lau_Sql">
        lau.admin_id,lau.admin_name,lau.admin_work_num,lau.admin_password,lau.admin_ward_code,
        lau.admin_job_title,lau.admin_desc,lau.admin_phone,lau.area_code,lau.admin_id_card,
        lau.admin_sex,lau.admin_birthday,lau.organ_attri,lau.remark,lau.admin_state,
        lau.hospital_name,lau.user_type
    </sql>
    <sql id="Menu_Sql">
        lau.menu
    </sql>

    <!--添加用户-->
    <insert id="addUser">
        INSERT INTO leanin_admin_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adminUserVo.adminName != null">
                admin_name,
            </if>
            <if test="adminUserVo.workNum != null">
                admin_work_num,
            </if>
            <if test="adminUserVo.password != null">
                admin_password,
            </if>
            <if test="adminUserVo.wardCode != null">
                admin_ward_code,
            </if>
            <if test="adminUserVo.jobTitle != null">
                admin_job_title,
            </if>
            <if test="adminUserVo.adminDesc != null">
                admin_desc,
            </if>
            <if test="adminUserVo.phone != null">
                admin_phone,
            </if>
            <if test="adminUserVo.areaCode != null">
                area_code,
            </if>
            <if test="adminUserVo.idCard != null">
                admin_id_card,
            </if>
            <if test="adminUserVo.sex != null">
                admin_sex,
            </if>
            <if test="adminUserVo.birthday != null">
                admin_birthday,
            </if>
            <if test="adminUserVo.organAscri != null">
                organ_attri,
            </if>
            <if test="adminUserVo.remark != null">
                remark,
            </if>
            <if test="adminUserVo.adminState != null">
                admin_state,
            </if>
            <if test="adminUserVo.hospitalName != null">
                hospital_name,
            </if>
            <if test="adminUserVo.userType != null">
                user_type,
            </if>
            <if test="adminUserVo.menu != null">
                menu,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="adminUserVo.adminName != null">
                #{adminUserVo.adminName},
            </if>
            <if test="adminUserVo.workNum != null">
                #{adminUserVo.workNum},
            </if>
            <if test="adminUserVo.password != null">
                #{adminUserVo.password},
            </if>
            <if test="adminUserVo.wardCode != null">
                #{adminUserVo.wardCode},
            </if>
            <if test="adminUserVo.jobTitle != null">
                #{adminUserVo.jobTitle},
            </if>
            <if test="adminUserVo.adminDesc != null">
                #{adminUserVo.adminDesc},
            </if>
            <if test="adminUserVo.phone != null">
                #{adminUserVo.phone},
            </if>
            <if test="adminUserVo.areaCode != null">
                #{adminUserVo.areaCode},
            </if>
            <if test="adminUserVo.idCard != null">
                #{adminUserVo.idCard},
            </if>
            <if test="adminUserVo.sex != null">
                #{adminUserVo.sex},
            </if>
            <if test="adminUserVo.birthday != null">
                #{adminUserVo.birthday},
            </if>
            <if test="adminUserVo.organAscri != null">
                #{adminUserVo.organAscri},
            </if>
            <if test="adminUserVo.remark != null">
                #{adminUserVo.remark},
            </if>
            <if test="adminUserVo.adminState != null">
                #{adminUserVo.adminState},
            </if>
            <if test="adminUserVo.hospitalName != null">
                #{adminUserVo.hospitalName},
            </if>
            <if test="adminUserVo.userType != null">
                #{adminUserVo.userType},
            </if>
            <if test="adminUserVo.menu != null">
                #{adminUserVo.menu},
            </if>
        </trim>
    </insert>


    <update id="updateUser">
        UPDATE leanin_admin_user
        <set>
            <if test="adminUserVo.adminName != null">
                admin_name = #{adminUserVo.adminName},
            </if>
            <if test="adminUserVo.workNum != null">
                admin_work_num = #{adminUserVo.workNum},
            </if>
            <if test="adminUserVo.wardCode != null">
                admin_ward_code = #{adminUserVo.wardCode},
            </if>
            <if test="adminUserVo.jobTitle != null">
                admin_job_title = #{adminUserVo.jobTitle},
            </if>
            <if test="adminUserVo.adminDesc != null">
                admin_desc = #{adminUserVo.adminDesc},
            </if>
            <if test="adminUserVo.phone != null">
                admin_phone = #{adminUserVo.phone},
            </if>
            <if test="adminUserVo.areaCode != null">
                area_code = #{adminUserVo.areaCode},
            </if>
            <if test="adminUserVo.idCard != null">
                admin_id_card = #{adminUserVo.idCard},
            </if>
            <if test="adminUserVo.sex != null">
                admin_sex = #{adminUserVo.sex},
            </if>
            <if test="adminUserVo.birthday != null">
                admin_birthday = #{adminUserVo.birthday},
            </if>
            <if test="adminUserVo.organAscri != null">
                organ_attri = #{adminUserVo.organAscri},
            </if>
            <if test="adminUserVo.remark != null">
                remark = #{adminUserVo.remark},
            </if>
            <if test="adminUserVo.adminState != null">
                admin_state = #{adminUserVo.adminState},
            </if>
            <if test="adminUserVo.hospitalName != null">
                hospital_name = #{adminUserVo.hospitalName},
            </if>
            <if test="adminUserVo.hospitalName != null">
                user_type = #{adminUserVo.userType},
            </if>
            <if test="adminUserVo.menu != null">
                menu = #{adminUserVo.menu},
            </if>
        </set>
        WHERE admin_id = #{adminUserVo.adminId}
    </update>

    <update id="updateUserPassword">
        UPDATE leanin_admin_user
        <set>
            <if test="password != null">
                admin_password = #{password}
            </if>
        </set>
        WHERE admin_id = #{userId}
    </update>

    <select id="findUserByWorkNum" resultMap="DTO_Result_Map">
        SELECT
        <include refid="Base_Sql"/>
        FROM leanin_admin_user
        WHERE admin_work_num =#{workNum} and admin_state = 1
    </select>

    <select id="findUserId" resultMap="VO_Result_Map">
        SELECT
        <include refid="Base_Sql"/>
        FROM leanin_admin_user
        WHERE admin_id = #{adminUserId} and admin_state != 2
    </select>

    <select id="findUserPage" resultMap="DTO_Result_Map">
        SELECT
        <include refid="Base_Sql"/>
        FROM leanin_admin_user
        WHERE admin_state != 2
        <if test="userName != null">
            AND admin_name LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="workNum != null">
            AND admin_work_num LIKE CONCAT('%',#{workNum},'%')
        </if>
    </select>
    <select id="findUserName" resultType="java.lang.String">
        select admin_name
        from leanin_admin_user
        where admin_id =#{adminId}
    </select>

    <select id="findAllUser" resultMap="VO_Result_Map">
        select
        <include refid="Base_Sql"/>
        from leanin_admin_user
        where admin_state = 1
    </select>

    <select id="findUserDtoId" resultMap="DTO_Result_Map">
        SELECT
        <include refid="Base_Sql"/>
        FROM leanin_admin_user
        WHERE admin_id = #{adminUserId} and admin_state != 2
    </select>
    
    <select id="findByWard" resultMap="BaseResultMap">
        SELECT
            <include refid="Lau_Sql"/>
        FROM
          `leanin_admin_user` lau
        WHERE lau.`admin_state` = 1
          AND lau.`admin_id` IN
          (SELECT
            luw.`user_id`
          FROM
            `leanin_user_ward` luw
          WHERE luw.`ward_id` = #{wardId})
    </select>
</mapper>