spring:
    application:
       name: yyms-service-manager-follow
##端口号
server:
 port: 8088
---
spring:
  profiles: dev
    #整合Redis
#  redis:
#    #数据库索引
#    database: 0
#    host: 192.168.0.103
#    port: 6379
#    password: 123456
#    timeout: 10000 #连接超时时间
#    jedis:
#      pool:
#        max-active: 8 #最大连接数
#        max-wait: -1 #最大阻塞等待时间(负数表示没限制)
#        max-idle: 8 #最大空闲
#        min-idle: 0 #最小空闲
  redis:
    host: 127.0.0.1
    port: 6379
    timeout: 60000 #连接超时 毫秒
    jedis:
      pool:
        maxActive: 3
        maxIdle: 3
        minIdle: 1
        maxWait: -1 #连接池最大等行时间 -1没有限制
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
    virtual-host: /
  datasource: #数据源
    druid:
      url: jdbc:mysql://192.168.0.103:3306/leanin_follow?characterEncoding=utf-8
      username: root
      password: 123456
      driverClassName: com.mysql.jdbc.Driver
      initialSize: 5  #初始建立连接数量
      minIdle: 5  #最小连接数量
      maxActive: 20 #最大连接数量
      maxWait: 10000  #获取连接最大等待时间，毫秒
      testOnBorrow: true #申请连接时检测连接是否有效
      testOnReturn: false #归还连接时检测连接是否有效
      timeBetweenEvictionRunsMillis: 60000 #配置间隔检测连接是否有效的时间（单位是毫秒）
      minEvictableIdleTimeMillis: 300000  #连接在连接池的最小生存时间（毫秒）
###服务注册到eureka地址
eureka:
  client:
    service-url:
      defaultZone: http://192.168.0.131:50101/eureka/,http://192.168.0.131:50102/eureka/
    ###因为该应用为注册中心，不会注册自己
    register-with-eureka: true
    ###是否需要从eureka上获取注册信息
    fetch-registry: true
    registry-fetch-interval-seconds: 30
ribbon:
  MaxAutoRetries: 2 #最大重试次数，当Eureka中可以找到服务，但是服务连不上时将会重试，如果eureka中找不到服务则直接走断路器
  MaxAutoRetriesNextServer: 3 #切换实例的重试次数
  OkToRetryOnAllOperations: false  #对所有操作请求都进行重试，如果是get则可以，如果是post，put等操作没有实现幂等的情况下是很危险的,所以设置为false
  ConnectTimeout: 60000  #请求连接的超时时间
  ReadTimeout: 60000 #请求处理的超时时间
### 该配置节点为独立的节点，有很多同学容易将这个配置放在spring的节点下，导致配置无法被识别
mybatis:
  mapper-locations: classpath:mapper/**/*.xml  #注意：一定要对应mapper映射xml文件的所在路径
  type-aliases-package: com.leanin.domain  # 注意：对应实体类的路径
  configuration:                                    #打印sql到控制台
       log-impl: org.apache.ibatis.logging.stdout.StdOutImpl



