spring:
  application:
    name: yyms-service-manager-follow
#  servlet:
#    context-path: /follow
##端口号
server:
  port: 8088
---
spring:
  redis:
    host: 39.108.217.158
    port: 6379
    timeout: 60000 #连接超时 毫秒
    jedis:
      pool:
        maxActive: 3
        maxIdle: 3
        minIdle: 1
        maxWait: -1 #连接池最大等行时间 -1没有限制
  rabbitmq:
    host: 39.108.217.158
    port: 5672
    username: guest
    password: guest
    virtual-host: /
  datasource: #数据源
    druid:
      url: jdbc:mysql://39.108.217.158:3306/leanin_follow?characterEncoding=utf-8
      username: root
      password: root
      driverClassName: com.mysql.jdbc.Driver
      initialSize: 5  #初始建立连接数量
      minIdle: 5  #最小连接数量
      maxActive: 20 #最大连接数量
      maxWait: 10000  #获取连接最大等待时间，毫秒
      testOnBorrow: true #申请连接时检测连接是否有效
      testOnReturn: false #归还连接时检测连接是否有效
      timeBetweenEvictionRunsMillis: 60000 #配置间隔检测连接是否有效的时间（单位是毫秒）
      minEvictableIdleTimeMillis: 300000  #连接在连接池的最小生存时间（毫秒）
###服务注册到eureka地址
eureka:
  client:
    service-url:
#      defaultZone: http://39.108.217.158:50101/eureka/,http://39.108.217.158:50102/eureka/  #阿里云
      defaultZone: http://221.12.12.58:50101/eureka/,http://221.12.12.58:50102/eureka/   #浪潮
    register-with-eureka: true
    fetch-registry: true
    registry-fetch-interval-seconds: 30
  instance:
    prefer-ip-address:  true  #将自己的ip地址注册到Eureka服务中
#    ip-address: 192.168.0.122
#    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port} #指定实例id
ribbon:
  MaxAutoRetries: 2 #最大重试次数，当Eureka中可以找到服务，但是服务连不上时将会重试，如果eureka中找不到服务则直接走断路器
  MaxAutoRetriesNextServer: 3 #切换实例的重试次数
  OkToRetryOnAllOperations: false  #对所有操作请求都进行重试，如果是get则可以，如果是post，put等操作没有实现幂等的情况下是很危险的,所以设置为false
  ConnectTimeout: 60000  #请求连接的超时时间
  ReadTimeout: 60000 #请求处理的超时时间
feign:
  hystrix:
    enabled: true
hystrix:
  shareSecurityContext: true
  command:
    default:
      circuitBreaker:
        sleepWindowInMilliseconds: 100000
        forceClosed: true
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 600000
### 该配置节点为独立的节点，有很多同学容易将这个配置放在spring的节点下，导致配置无法被识别
mybatis:
  mapper-locations: classpath:mapper/**/*.xml  #注意：一定要对应mapper映射xml文件的所在路径
  type-aliases-package: com.leanin.domain  # 注意：对应实体类的路径
  configuration:                                    #打印sql到控制台
       log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
wx:
  appId:  wx1f020aa42d92b635
  appSecret: 21be49689399a4e8eb437c371f42fbab