server:
  port: 50201
  servlet:
    context-path: /api
spring:
  application:
    name: yyms-gateway
#  redis:
#    host: 127.0.0.1
#    port: 6379
#    timeout: 5000 #连接超时 毫秒
#    jedis:
#      pool:
#        maxActive: 3
#        maxIdle: 3
#        minIdle: 1
#        maxWait: -1 #连接池最大等行时间 -1没有限制
zuul:
  routes:
    yyms-service-manager-follow:
      path: /follow/**
      serviceId: yyms-service-manager-follow
      sensitiveHeaders:
      strip-prefix: true
    yyms-service-manager-patient:
      path: /manager/**
      serviceId: yyms-service-manager-patient
      sensitiveHeaders:
      strip-prefix: true
    yyms-oauth:
      path: /auth/**
      serviceId: yyms-oauth
      sensitiveHeaders:
      strip-prefix: true
eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://192.168.0.122:50101/eureka/,http://192.168.0.122:50102/eureka/
  instance:
    prefer-ip-address:  true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}
ribbon:
  MaxAutoRetries: 2
  MaxAutoRetriesNextServer: 3
  OkToRetryOnAllOperations: false
  ConnectTimeout: 60000
  ReadTimeout: 60000