server:
  port: 9001
spring:
  jackson:
    time-zone: GMT+8
  application:
    name: yyms-service-mq
  rabbitmq:
    host: 39.108.217.158
    port: 5672
    username: guest
    password: guest
    virtual-host: /
  redis:
    host: 39.108.217.158
    port: 6379
    timeout: 60000 #连接超时 毫秒
    jedis:
      pool:
        maxActive: 3
        maxIdle: 3
        minIdle: 1
        maxWait: -1 #连接池最大等行时间 -1没有限制
  datasource: #数据源
    druid:
      url: jdbc:mysql://221.12.12.58:3306/leanin_follow?characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: root
      driverClassName: com.mysql.jdbc.Driver
      initialSize: 5  #初始建立连接数量
      minIdle: 5  #最小连接数量
      maxActive: 20 #最大连接数量
      maxWait: 10000  #获取连接最大等待时间，毫秒
      testOnBorrow: true #申请连接时检测连接是否有效
      testOnReturn: false #归还连接时检测连接是否有效
      timeBetweenEvictionRunsMillis: 60000 #配置间隔检测连接是否有效的时间（单位是毫秒）
      minEvictableIdleTimeMillis: 300000  #连接在连接池的最小生存时间（毫秒）